<ul>
	<li>
		<a href="#">
			<span class="sr-only sr-only-focusable">Instagram</span>
			<span class="icon theme-icon-instagram"></span>
		</a>
	</li>
	<li>
		<a href="#">
			<span class="sr-only sr-only-focusable">Twitter</span>
			<span class="icon theme-icon-twitter"></span>
		</a>
	</li>
	<li>
		<a href="#">
			<span class="sr-only sr-only-focusable">Facebook</span>
			<span class="icon theme-icon-facebook"></span>
		</a>
	</li>
	<li>
		<a href="#">
			<span class="sr-only sr-only-focusable">YouTube</span>
			<span class="icon theme-icon-youtube"></span>
		</a>
	</li>
</ul>
