<!--</div>-->
<!-- /outer-wrap -->

<div class="outer-wrap global-footer hide-print">
<footer class="container">
	<div class="row">
		<div class="col-xs-12 col-sm-8">
			<ul class="global-footer-links">
				<li><a href="#">Contact us</a></li>
				<li><a href="#">Terms and conditions</a></li>
				<li><a href="#">Accessibility</a></li>
				<li><a href="#">Languages</a></li>
				<li><a href="#">GOV.UK</a></li>
			</ul>
		</div>
		<div class="col-xs-12 col-sm-4 socials socials-global-footer">
			{{> deesonpartials-social-icons-global-footer}}
		</div>
	</div>
	<div class="row">
		<div class="col-sm-12">
			<p class="copyright"><small>&copy; Bracknell Forest Council</small></p>
		</div>
	</div>

</footer>
</div>
