<ul>
	<li>
		<a href="#">
			<span class="sr-only sr-only-focusable">Instagram</span>
			<span class="icon-bfc-icon-font-14"></span>
		</a>
	</li>
	<li>
		<a href="#">
			<span class="sr-only sr-only-focusable">Twitter</span>
			<span class="icon-bfc-icon-font-06"></span>
		</a>
	</li>
	<li>
		<a href="#">
			<span class="sr-only sr-only-focusable">Facebook</span>
			<span class="icon-bfc-icon-font-09"></span>
		</a>
	</li>
	<li>
		<a href="#">
			<span class="sr-only sr-only-focusable">Youtube</span>
			<span class="icon-bfc-icon-font-10"></span>
		</a>
	</li>
</ul>
