<ul>
	<li>
		<a href="#" class="icon-twitter">
			<span class="sr-only sr-only-focusable">Twitter</span>
			<span class="icon-bfc-icon-font-06"></span>
		</a>
	</li>
	<li>
		<a href="#" class="icon-facebook">
			<span class="sr-only sr-only-focusable">Facebook</span>
			<span class="icon-bfc-icon-font-09"></span>
		</a>
	</li>
	<li>
		<a href="#">
			<span class="sr-only sr-only-focusable">Print</span>
			<span class="icon-bfc-icon-font-32"></span>
		</a>
	</li>
	<li>
		<a href="#">
			<span class="sr-only sr-only-focusable">Email</span>
			<span class="icon-bfc-icon-font-33"></span>.
		</a>
	</li>
</ul>
