<div class="col-sm-12 well view view-directory-team-contact-info view-id-directory_team_contact_info view-display-id-block view-dom-id-X">
    <div class="views-row views-row-1 views-row-odd views-row-first views-row-last">
      <h3 class="inline-block margin-top-zero">Contact our <span>Team</span> team</h3>
      <a class="btn btn-primary enquiry" href="/email-contact/node/2/field_team_email" target="_blank">Make an enquiry (Email)</a>
      <a class="btn btn-primary enquiry" href="https://google.com" target="_blank">Make an enquiry (URL)</a>
      <p class="views-field views-field-field-team-telephone">    <span class="views-label views-label-field-team-telephone">Telephone: </span>    <span class="field-content">07506443818</span>  </p>
      <div>
        <span>
          <div class="vcard">
            <div class="adr">
              <div class="organization-unit">Team</div>
              <div class="organization-name">Company</div>
              <div class="street-address">Address 1</div>
              <div class="extended-address">Address 2</div>
              <div class="locality">Town/City</div>
              <div class="region">County</div>
              <div class="postal-code">PO5T C0D3</div>
            </div>
          </div>
          <br>
        </span>
      </div>
      <p class="views-field views-field-field-team-email">    <span class="views-label views-label-field-team-email">Email: </span>    <span class="field-content"><a href="mailto:team@example.com">team@example.com</a></span>  </p>
    </div>
</div>
