<div class="row no-pad block-30">
	<div class="col-md-5 green-top">
		<h2 class="h-light"><a href="#">Overhaul of town centre gateways to start and contractor appointed</a></h2>
		<p>A major project to overhaul town centre roads, car parks and gateways will start in mid-February, signalling another step forward in the extensive £240m regeneration programme to form The Lexicon Bracknell.</p>
		<a href="#" class="btn">Read more</a>
	</div>
	<div class="col-md-7">
		<a href="#">
			<img src="http://placehold.it/1024x579" class="img-responsive" alt="Placeholder image">
		</a>
	</div>
</div>
<div class="row no-pad block-30">
	<div class="col-md-7">
		<a href="#">
			<img src="http://placehold.it/1024x579" class="img-responsive" alt="Placeholder image">
		</a>
	</div>
	<div class="col-md-5 green-top">
		<div class="paddingLR">
			<h2 class="h-light"><a href="#">Overhaul of town centre gateways to start and contractor appointed</a></h2>
			<p>A major project to overhaul town centre roads, car parks and gateways will start in mid-February, signalling another step forward in the extensive £240m regeneration programme to form The Lexicon Bracknell.</p>
			<a href="#" class="btn">Read more</a>
		</div>
	</div>
</div>