<div class="row no-pad">
	<div class="col-md-8 col-sm-12 green-top-twopx socials socials-in-page block_no-pad">
		<p class="share-page pull-left">Share this page</p>
		<ul>
			<li>
				<a href="#" class="icon-twitter">
					<span class="sr-only sr-only-focusable">Twitter</span>
					<span class="icon-bfc-icon-font-06"></span>
				</a>
			</li>
			<li>
				<a href="#" class="icon-facebook">
					<span class="sr-only sr-only-focusable">Facebook</span>
					<span class="icon-bfc-icon-font-09"></span>
				</a>
			</li>
			<li>
				<a href="#">
					<span class="sr-only sr-only-focusable">Print</span>
					<span class="icon-bfc-icon-font-32"></span>
				</a>
			</li>
			<li>
				<a href="#">
					<span class="sr-only sr-only-focusable">Email</span>
					<span class="icon-bfc-icon-font-33"></span>
				</a>
			</li>
		</ul>	</div>
	<div class="col-xs-12 col-sm-3 col-sm-offset-1">
		<div class="page-rater clearfix">
			<h4>Was this page useful?</h4>
			<div class="panel-group clearfix" id="accordion" role="tablist" aria-multiselectable="true">
				<div class="panel panel-default">
					<div class="panel-heading" role="tab" id="headingOne">
						<span class="panel-title">
							<a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
								<span class="sr-only sr-only-focusable">Yes</span>
								<span class="icon-bfc-icon-font-05"></span>
							</a>
						</span>
					</div>
					<div class="panel-heading" role="tab" id="headingTwo">
						<span class="panel-title">
							<a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
								<span class="sr-only sr-only-focusable">Maybe</span>
								<span class="icon-bfc-icon-font-03"></span>
							</a>
						</span>
					</div>
					<div class="panel-heading" role="tab" id="headingThree">
						<span class="panel-title">
							<a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
								<span class="sr-only sr-only-focusable">No</span>
								<span class="icon-bfc-icon-font-04"></span>
							</a>
						</span>
					</div>

					<div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
						<div class="panel-body">
							<h5>ONE</h5>
							Lorem ipsum dolor sit amet, consectetur adipisicing elit. A esse harum illum molestias perspiciatis ratione repudiandae sint, unde. Ab, molestiae.
						</div>
					</div>
					<div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
						<div class="panel-body">
							<h5>TWO</h5>
							Lorem ipsum dolor sit amet, consectetur adipisicing elit. A esse harum illum molestias perspiciatis ratione repudiandae sint, unde. Ab, molestiae.
						</div>
					</div>
					<div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
						<div class="panel-body">
							<h5>THREE</h5>
							Lorem ipsum dolor sit amet, consectetur adipisicing elit. A esse harum illum molestias perspiciatis ratione repudiandae sint, unde. Ab, molestiae.
						</div>
					</div>
				</div>
			</div>

		</div>
	</div>
</div>