html,
body {
  overflow: hidden; //fixed the horizontal scroll when use full-width 100%.
  overflow-y: auto;
}

html {
  position: relative;
  // overflow-y: auto;
}

.page-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  .main-container {
    flex: 1;
  }
}

.page-header {
  margin: 0 0;
  @extend.green-base;

  @media (max-width: 768px) {
    padding-top:20px;
  }
}

body.node-type-guide-section #page-header.col-md-8 {
  box-sizing: content-box !important;
}

body.page-taxonomy-term .page-header {
  border-bottom:0 !important;
}

.img-right {
  float: right;
  margin-left: 1em;
}

.img-left {
  float: left;
  margin-right: 1em;
}
