// Global.

.page-wrapper {
  position: relative;
}

.page-header {
  margin: 0 0;
  @extend.green-base;

  @media (max-width: 768px) {
    padding-top:20px;
  }
}

body.node-type-guide-section #page-header.col-md-8 {
  box-sizing: content-box !important;
}

body.page-taxonomy-term .page-header {
  border-bottom:0 !important;
}

.left {
  float: left;
}

.right {
  float: right;
}

.img-right {
  float: right;
  margin-left: 1em;
}

.img-left {
  float: left;
  margin-right: 1em;
}

.full-width {
  margin-left: -9999rem !important;
  margin-right: -9999rem !important;
  padding-left: 9999rem !important;
  padding-right: 9999rem !important;
}
