{{> organisms-global-header}}

<div class="container" id="main-content" role="main">
	<div class="row">
		<div class="col-sm-12">
			<h1 class="margin-top-zero">Council Tax</h1>
		</div>
	</div>
</div>

<div class="container-fluid green-x-light call-to-actions" role="navigation">
	<div class="container">
		<div class="row">
			{{> atoms-button-top-task}}
			{{> atoms-button-top-task}}
			{{> atoms-button-top-task}}
		</div>
	</div>
</div>

<div class="container-fluid block-30 grey-x-light call-to-actions sub-grid-categories" role="navigation">
	<div class="container">
		<div class="row pad-30-top">
			{{> atoms-button-task}}
			{{> atoms-button-task}}
      {{> atoms-button-task}}
      {{> atoms-button-task}}
      {{> atoms-button-task}}
      {{> atoms-button-task}}
      {{> atoms-button-task}}
      {{> atoms-button-task}}
		</div>
	</div>
</div>

<div class="container block-30">
	<div class="row no-pad">
      {{> molecules-bottom-navigation}}
	</div>
</div>

{{> organisms-landing-page-footer}}

{{> organisms-global-footer}}
