{{> organisms-global-header}}

<div class="container block-30">
	<div class="row">
		<div class="col-sm-12">
			{{> molecules-buttongroup-listen-easyread}}
		</div>
	</div>
</div>


<div class="container-fluid">
  <div class="row block-hero">
    {{> molecules-hero}}
	</div>
</div>

<div class="container-fluid block-30 grey-x-light call-to-actions sub-grid-categories" role="navigation">
	<div class="container">
		<div class="row pad-30-top">
			{{> atoms-button-task}}
			{{> atoms-button-task}}
      {{> atoms-button-task}}
      {{> atoms-button-task}}
      {{> atoms-button-task}}
      {{> atoms-button-task}}
      {{> atoms-button-task}}
      {{> atoms-button-task}}
		</div>
	</div>
</div>

<div class="container block-30" id="main-content" role="main">
	    {{>molecules-twelve-columns-text-image-block}}
</div>

<div class="container block-30">
	<div class="row news-events">
		{{>molecules-two-columns-block}}
    {{>molecules-two-columns-block}}
    {{>molecules-key-facts-block}}
	</div>
</div>
<div class="container block-30">
      {{> molecules-carousel}}
</div>

{{> organisms-landing-page-footer}}

{{> organisms-global-footer}}
