@import 'mixins';

#main-nav {
  clear: both;
}

// body.ie9,
// body.ie8,
// body.ie7,
// body.ie6 {
  #main-nav ul {
    margin: 0px;
    padding: 0px;
    list-style-type: none;
  }

  #main-nav .nav-item {
    display: inline-block;
    vertical-align: top;
    @include gridRows(3,1%);
  }
// }

// #main-nav ul {
//   column-count: 3;
//   column-gap: 0;
//   width: 100%;
//   list-style-type: none;
// }
// #main-nav .nav-item {
//   // display: inline-block;
// }
