<div class="container block-30">
	<div class="row no-pad">
		<div class="col-md-8 col-sm-12 green-top-twopx socials socials-in-page block_no-pad">
			<p class="share-page pull-left">Share this page</p>
			{{> molecules-page-social-icons}}
		</div>
	</div>
</div>
