/*
*	News specific styling
*/

.news-listings {
	padding-left: 15px;

	@media (max-width: 768px) {
		padding-left: 15px;
		padding-right: 15px;
	}

	li {
		article {
			border-bottom: 1px solid $greyBorderLight;
			margin-bottom: $commonSpacing/2;
			padding: 20px 0;
		}
		figure {
			padding: 0;
		}
		h2,
		h3 {
			margin-top: 0;
		}
	}
}

.news-leader {
	.img-responsive {
		width: 100%;
	}
	@extend .green-top;
	.col-sm-8 {
		@media (max-width: 767px) {
			padding: 10px 0 0px 0;
		}
	}
}

.news-listings {
	.img-responsive {
		width: 100%;
	}
	.col-sm-8 {
		@media (max-width: 767px) {
			padding: 10px 0 0px 0;
		}
	}
}

aside.news-aside {
	@media (max-width: 991px) {
		clear: both;
	}

	article {
		&:first-child {
			@media (min-width: 768px){
				margin-top: 80px;
			}
			img {
				margin-bottom: $commonSpacing/2;
			}
		}
		@extend .green-top;
		padding-bottom: $commonSpacing;

		img {
			margin-bottom: $commonSpacing/2;
		}
	}
}

// Contact section
.btn {
	// Address alignment of Enquiry button
	&.enquiry {
		float: right;
		position: relative;
		top: 7px;
	}
}
