body.page-taxonomy {

  .pane-taxonomy-term-field-category-tasks {
    @extend .full-width;
    @extend .green-x-light;
    @extend .call-to-actions;
    &:after {
      clear:both;
      content: " ";
      display: table;
    }
    .pane-content {
      margin-left: -5px;
      margin-right: -5px;
    }
    .field-name-field-category-tasks {
      div{
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;

        display: flex;
        -webkit-box-align: stretch;
        -webkit-align-items: stretch;
        -ms-flex-align: stretch;
        align-items: stretch;

        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
      }
      div {
        div{
          position: relative;
          min-height: 1px;
          padding-left: 15px;
          padding-right: 15px;
          box-sizing: border-box;

          @media (min-width: 992px) {
            float: left;
            //width: 25%!important;
          }
          @media (min-width: 768px) {
            float: left;
            width: 33.3333333333%;
          }
          @media (max-width:$screen-sm) {
            width: 100%;
          }
        }
      }
      a {
       @extend .btn;
       @extend .key-task;
       border-radius: 3px;
       width: 100%!important;
       //height: 100px;
      }
    }

  } // END .pane-taxonomy-term-field-category-tasks

  #list-of-pages {
    clear: both;
    padding-top: 30px;
    margin-bottom: 30px;
    @extend .full-width;
    @extend .grey-x-light;
    @extend .call-to-actions;
    @extend .sub-grid-categories;
    &:after {
      clear:both;
      content: " ";
      display: table;
    }
    .view-content {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;

      display: flex!important;
      -webkit-box-align: stretch;
      -webkit-align-items: stretch;
      -ms-flex-align: stretch;
      align-items: stretch!important;

      -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap!important;
      //padding: 0 5px;

      div {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;

        display: flex!important;
        -webkit-box-align: stretch;
        -webkit-align-items: stretch;
        -ms-flex-align: stretch;
        align-items: stretch!important;

        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap!important;

        padding: 0 5px;
        margin-bottom: 10px;
        float: left;
        position: relative;
        min-height: 1px;
        width: 25%;

        @media (max-width:$screen-md) {
          float: left;
           width: 33%;
        }
        @media (max-width:$screen-sm)  {
          width: 100%;
        }
      }
    }
    a {
      @extend .btn;
      @extend .sub-task;
      border-radius: 3px;
      margin: 0 0 10px;
      width: 100%!important;
      @media (min-width: 768px) {
        //height: 80px!important;
      }
    }
  } // END #list-of-pages

  #list-of-subcategories{
    clear: both;
    padding-top: 30px;
    margin-bottom: 30px;
    @extend .full-width;
    @extend .grey-x-light;
    @extend .call-to-actions;
    @extend .sub-grid-categories;
    &:after {
      clear:both;
      content: " ";
      display: table;
    }
    .view-content {
      padding: 0 5px;
      div {
        padding: 0 5px;
        float: left;
        position: relative;
        min-height: 1px;
        width: 25%;
        @media (max-width:$screen-md) {
          float: left;
           width: 33%;
        }
        @media (max-width:$screen-sm)  {
          width: 100%;
        }
      }
    }
    a {
      @extend .btn;
      @extend .sub-task;
      border-radius: 3px;
      margin: 0 0 10px;
      @media (min-width: 768px) {
        //height: 80px!important;
      }
    }
  } // END #list-of-subcategories

  #list-of-additional-pages {
    .view-content {
      @extend .block-30;
      clear:both;
      content: " ";
      display: table;
      width: 100%;
      div {
        float: left;
        width: 25%;
        @media (max-width:$screen-md) {
          float: left;
          width: 33%;
        }
        @media (max-width:$screen-sm)  {
          width: 100%;
        }
      }
      h2 {
        @extend .h2-small;
        @extend .green-top;
        @extend .block_no-pad;
        @media (min-width: 768px) {
          width: 50%;
        }
      }
    }
  } // END #list-of-additional-pages
}
