@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icons/icomoon.eot?pv4log');
  src:  url('./fonts/icons/icomoon.eot?pv4log#iefix') format('embedded-opentype'),
  url('../fonts/icons/icomoon.woff2?pv4log') format('woff2'),
  url('../fonts/icons/icomoon.ttf?pv4log') format('truetype'),
  url('../fonts/icons/icomoon.woff?pv4log') format('woff'),
  url('../fonts/icons/icomoon.svg?pv4log#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-bfc-icon-font_Artboard-41-41:before {
  content: "\e900";
}
.icon-bfc-icon-font_Artboard-42-copy-2:before {
  content: "\e901";
}
.icon-bfc-icon_Libraries:before {
  content: "\e902";
}
.icon-bfc-icon-font_Artboard-42:before {
  content: "\e904";
}
.icon-bfc-icon-font_crimenemergancies:before {
  content: "\e905";
}
.icon-bfc-icon-font_liscensing:before {
  content: "\e906";
}
.icon-bfc-icon-font_street:before {
  content: "\e907";
}
.icon-bfc-icon-font-01:before {
  content: "\e908";
}
.icon-bfc-icon-font-02:before {
  content: "\e909";
}
.icon-bfc-icon-font-03:before {
  content: "\e90a";
}
.icon-bfc-icon-font-04:before {
  content: "\e90b";
}
.icon-bfc-icon-font-05:before {
  content: "\e90c";
}
.icon-bfc-icon-font-06:before {
  content: "\e90d";
}
.icon-bfc-icon-font-07:before {
  content: "\e90e";
}
.icon-bfc-icon-font-08:before {
  content: "\e90f";
}
.icon-bfc-icon-font-09:before {
  content: "\e910";
}
.icon-bfc-icon-font-10:before {
  content: "\e911";
}
.icon-bfc-icon-font-11:before {
  content: "\e912";
}
.icon-bfc-icon-font-12:before {
  content: "\e913";
}
.icon-bfc-icon-font-13:before {
  content: "\e914";
}
.icon-bfc-icon-font-14:before {
  content: "\e915";
}
.icon-bfc-icon-font-15:before {
  content: "\e916";
}
.icon-bfc-icon-font-16:before {
  content: "\e917";
}
.icon-bfc-icon-font-17:before {
  content: "\e918";
}
.icon-bfc-icon-font-18:before {
  content: "\e919";
}
.icon-bfc-icon-font-19:before {
  content: "\e91a";
}
.icon-bfc-icon-font-20:before {
  content: "\e91b";
}
.icon-bfc-icon-font-21:before {
  content: "\e91c";
}
.icon-bfc-icon-font-22:before {
  content: "\e91d";
}
.icon-bfc-icon-font-23:before {
  content: "\e91e";
}
.icon-bfc-icon-font-24:before {
  content: "\e91f";
}
.icon-bfc-icon-font-25:before {
  content: "\e920";
}
.icon-bfc-icon-font-26:before {
  content: "\e921";
}
.icon-bfc-icon-font-27:before {
  content: "\e922";
}
.icon-bfc-icon-font-28:before {
  content: "\e923";
}
.icon-bfc-icon-font-29:before {
  content: "\e924";
}
.icon-bfc-icon-font-30:before {
  content: "\e925";
}
.icon-bfc-icon-font-31:before {
  content: "\e926";
}
.icon-bfc-icon-font-32:before {
  content: "\e927";
}
.icon-bfc-icon-font-33:before {
  content: "\e928";
}
.icon-bfc-icon-font-34:before {
  content: "\e929";
}
.icon-bfc-icon-font-35:before {
  content: "\e92a";
}
.icon-bfc-icon-font-36:before {
  content: "\e92b";
}
.icon-bfc-icon-font-37:before {
  content: "\e92c";
}
.icon-bfc-icon-font-38:before {
  content: "\e92d";
}
.icon-bfc-icon-font-39:before {
  content: "\e92e";
}
.icon-bfc-icon-font-40:before {
  content: "\e92f";
}
.icon-bfc-icon-font-43:before {
  content: "\e930";
}
.icon-bfc-icon-font-46:before {
  content: "\e931";
}
.icon-bfc-icon-font-47:before {
  content: "\e932";
}
.icon-bfc-icon-font-48:before {
  content: "\e933";
}
