# Ignore paths that contain user-generated content.
docroot/files
docroot/sites/*/files
docroot/sites/*/private
acquia-files

config/databases/*
docroot/sites/default/settings.local.php
docroot/sites/default/settings.docker.php
.idea
**/node_modules/*
**/bower_components/*
**/pattern-lab/config/*
# Ignore certain CSS files as we will complile on the server.
**/css/styles.css
**/css/styles.css.map
/nbproject/private/##Ignore DB import directory
db
