<div class="col-md-6 col-sm-12 pod-inner pod-emphasise">
  <p>In the last twelve months you have recycled</p>
  <h3 class="lge">1200 tonnes of glass</h3>
  <p>which has helped to reduce the impact of landfill</p>
  {{> atoms-button-general}}

</div>
