	<article>
		<h3>Town &amp; Country</h3>
		<p>Find out more about Bracknell Forest Council's newspaper</p>
		<div class="row">
			<div class="col-xs-10 col-sm-7">
				<img src="http://placehold.it/1024x579" class="img-responsive" alt="Placeholder image">
			</div>
		</div>
		<button class="btn btn-primary" type="submit">View Town &amp; Country</button>
	</article>
