
  <article class="row news-leader">
    <figure class="col-sm-4">
      <img src="/images/Bracknell-town-centre_1024x579.jpg" class="img-responsive" alt="Placeholder image">
    </figure>
    <div class="col-sm-8">
      <header><h2 class="margin-top-zero"><a href="#">Overhaul of town centre gateways to start and contractor appointed</a></h2></header>
      <p>A major project to overhaul town centre roads, car parks and gateways will start in mid-February, signalling another step forward in the extensive £240m regeneration programme...</p>
      <footer>26/2/16</footer>
    </div>
  </article>
