    <!--  <div class="container">
        <div class="row">
		    	<div class="col-md-8 col-sm-12" role="img" aria-label="Image Description">
            	<h1 class="block-hero-headline">Fostering</h1>
              {{> atoms-button-gallery }}
          </div>
        </div>
      </div>-->
<!-- end c-block--hero-->

<!--<div class="container">
    <div class="row">
       <div class="col-md-8 col-sm-12 hero-container">
          <div class="hero-content">
             <h1>Fostering</h1>
             {{> atoms-button-gallery }}
          </div>
        </div>
    </div>
</div>-->

<div class="container">
    <div class="row">
      <div class="col-md-8 col-sm-12" role="img" aria-label="Image Description">
				<p>Make your background image's file size smaller for small screens. This example loads 3x faster on mobile.</p>


			</div></div></div>
