body.node-type-promotional-page {
  .node-promotional-page {
    .paragraphs-items {
      @include constrained;
    }
  }
  #page-content {
    position: relative;
  }
  #page-header {
    @include constrained;
    .page-header {
      position: absolute;
      top: 55px;
      z-index: 2;
      width: auto;
      background: rgba(255, 255, 255, 0.8);
      margin: 0;
      padding-left: 0;
      padding-right: 0;
      margin-left: -32px;
      border-bottom: 0;
      font-size: 2.45em; // AKA 44px
      letter-spacing: -1px;
      padding: 20px 30px 26px;
      color: #333;
      @media (max-width: $screen-xs-max) {
        margin-left: 0;
        font-size: 1.8em;
        padding: 13px 17px 15px;
      }
    }
  }
  .tabs--primary.nav.nav-tabs {
    position: absolute;
    right: 10px;
    top: 55px;
    background: rgba(255, 255, 255, 0.8);
    padding: 0;
    z-index: 1;
    li {
      display: inline-block;
      font-size: 0.9em;
      padding: 0;
      a {
        border-radius: 0;
        border: 0;
        &.active {
          background-color: rgba(255, 255, 255, 0.8);
        }
      }
    }
  }
  .main-container.container {
    width: auto;
    padding: 0;
  }
  #page-content {
    .region-content {
      .field-name-field-promotional-hero .field-item, .promotional-hero {
        max-height: 480px;
        overflow: hidden;
        margin-bottom: 10px;
        position: relative;
        min-height: 200px;
        background: #f3f3f3;
        .hero-buttons {
          position: absolute;
          bottom: 20px;
          pointer-events: none;
          @media (min-width: $screen-lg-min) {
            width: $container-lg;
            margin-left: -($container-lg / 2);
          }
          @media (min-width: $screen-md-min) and (max-width: $screen-md-max) {
            width: $container-md;
            margin-left: -($container-md / 2);
          }
          @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
            width: $container-md;
            margin-left: -($container-sm / 2);
          }
          @media (min-width: $screen-sm-min) {
            left: 50%;
          }
          @media (max-width: $screen-xs-max) {
            left: 20px;
          }
          .hero-button {
            @extend .btn;
            font-size: 0.8em;
            padding: 8px 16px 10px;
            font-weight: 700;
          }
        }
        .hero-images {
          img {
            width: 100%;
            *height: auto;
            height: 100%;
            object-fit: cover;
          }
        }
      }
    }
  }
}
