<div class="col-sm-12 well">
	<h3 class="inline-block margin-top-zero">Contact our news team</h3>
	<a href="#" class="btn btn-primary enquiry">Make an enquiry</a>
	<p>Tel: 01344 352323</p>
	<p>Fax: 01344 352324</p>
	<div class="vcard">
		<div class="org">Communications and Marketing</div>
		<div class="adr">
			<div class="street-address">Easthampstead House</div>
			<span class="locality">Bracknell</span>
			<span class="postal-code">RG12 1AQ</span>
		</div>
	</div>
	<p>Email: <a href="mailto:revenue.services@bracknell-forest.gov.uk">revenue.services@bracknell-forest.gov.uk</a></p>
</div>