<table class="sg-fonts">
  <thead>
  <tr>
    <th>Name</th>
    <th>Value</th>
    <th>Example</th>
  </tr>
  </thead>
  <tbody>
    {{#fonts}}
      <tr class="sg-font">
        <td><code>{{name}}</code></td>
        <td>{{value}}</td>
        <td style="font-family: {{value}};">The quick brown fox jumps over the lazy dog.</td>
      </tr>
    {{/fonts}}
  </tbody>
</table>
