.carousel-slide .node-testimonial {
  @include make-row(0);
  background-color: $carousel-bg-color;
}

.carousel-slide-media,
.carousel-slide-content {
  @include make-md-column(6);
}

.carousel-slide-media {
  padding: 0;
}

.carousel-slide-content {
  padding: 60px;

  .field-name-body .field-items {
    p {
      //display: inline;
      position: relative;
    }

    p:first-child:before {
      content: "\201C";
      position: absolute;
      left: -11px;
    }

    p:last-child {
      display: inline;

      &:after {
        content: "\201D";
        position: absolute;
        right: -10px;
      }
    }
  }

  .btn {
    margin-top: 35px;
  }
}

.carousel-slide-media-right {
  .carousel-slide-content {
    @include make-md-column-pull(6);
  }

  .carousel-slide-media {
    @include make-md-column-push(6);
  }
}

.field-name-field-testimonial-job-title {
  margin-top: .5em;
}

.field-name-field-testimonial-author {
  font-weight: 600;
  margin-top: 65px;
}

.flexslider,
.flexslider:hover {
  .flex-direction-nav {
    .flex-next,
    .flex-next:hover,
    .flex-prev,
    .flex-prev:hover {
      opacity: 1;
    }

    .flex-next,
    .flex-next:hover {
      right: 30px;
    }

    .flex-prev,
    .flex-prev:hover {
      left: 30px;
    }

    .flex-next,
    .flex-prev {
      height: 43px;
    }
  }
}
