// Featured Box.

.featured-box {
  margin-bottom: 20px;
}

// Border Theme.
.featured-box-theme-border {
  border: {
    color: $featured-box-border-color;
    style: solid;
    width: 5px 0 0 0;
  }
  @include applyColour(border-color);
}

// For accessibility, we need to change the colours on the elements inside some of the coloured boxes.
// So removed the grey-light and grey-extra-light colours from our original map.
$reduced-featured-box-themes: map-remove($paletteB, grey-light, grey-extra-light);

@each $class-name, $value in $reduced-featured-box-themes {
  .featured-box-theme-#{$class-name} {
    border-radius: 5px;

    h1,
    h2,
    h3,
    h4,
    h5,
    p,
    li {
      color: $featured-box-text-color;
    }

    blockquote {
      p {
        color: $featured-box-default-text-color;
      }
    }
  }
}
