/*
* Header.
*/
.masthead {
  min-height: 160px;
  position: relative;
}
.logo {
  display: block;
  height: 120px;
  position: relative;
  width: 120px;
  z-index: 200;
  @include breakpoint($screen-md) {
    left: 0;
    height: 160px;
    position: absolute;
    top: 0;
    width: 16.66667%;
  }
}
.header-tools {
  border-bottom: 3px solid $nav-tools-border-color;
  padding-bottom: 0;
  padding-top: 0;
  position: static;
  text-align: right;
  @include breakpoint($screen-md) {
    padding: 25px 15px 23px;
  }
  .header-section {
    display: inline-block;
    vertical-align: middle;
    max-width: 360px;
    &.header-section-search {
      form.form-search {
        .form-text {
          border-color: $grey1;
          padding: 6px 18px;
          height: 48px;
          // This will only work with autoprefixer.
          &::placeholder {
            color: $greyMid;
          }
        }
        .input-group-btn {
          .btn-primary {
            background-color: $charcoal;
            margin-bottom: 0;
            min-width: 48px;
            height: 48px;
            transition: 0.1s ease-in-out background-color;
            &:hover {
              background-color: $turquoise;
            }
          }
        }
        .form-actions {
          display: none;
        }
      }
    }
    &.header-section-account {
      margin-left: 60px;
      .header-account-section {
        display: inline-block;
        vertical-align: middle;
        &.header-account-section-account {
          font-size: $font-size-03;
          font-weight: $font-weight-headinglight;
          line-height: 1;
          margin: 0 5px;
        }
        &.header-account-section-user-icon {
          font-size: 15px;
          padding-top: 1px;
        }
      }
      a {
        display: block;
        color: $nav-tools-account-link-text-color;
        text-decoration: none;
        line-height: 1;
        span.q-mark {
          background: $nav-tools-account-link-q-mark-bg-color;
          border-radius: 50%;
          font-size: 12px;
          box-sizing: border-box;
          width: 22px;
          height: 22px;
          line-height: 23px;
          text-align: center;
          padding-right: 1px;
        }
      }
    }
    &.header-section-menu-tools {
      position: static;
      margin-left: 80px;
      @include breakpoint($screen-md) {
        position: relative;
      }
    }
  }
}
