// Header.

.header-inner {
  position: relative;
}

.logo {
  position: static;
  text-align: right;
}

.logo-container {
  float: left;
  height: auto;
  margin: 15px 0 0 -10px;
  position: relative;
  width: 110px;
  z-index: 150;

  @include breakpoint($screen-sm) {
    margin-bottom: 15px;
    width: auto;
  }
}

.logo-link {
  background: $header-logo-bg-color;
  border-radius: 0 0 5px 5px;
  display: block;
  padding: 0 10px 10px;
  position: relative;
}


.header-section {
  .js & {
    position: static;

    @include breakpoint($screen-sm) {
      position: relative;
    }
  }
}

.header-tools {
  margin-bottom: 10px;

  @include breakpoint($screen-sm) {
    min-height: 75px;
    padding-top: 20px;
    position: static;
    text-align: right;
  }
}

.header-account {
  display: none;

  @include breakpoint($screen-md) {
    display: inline-block;
    margin-top: 15px;
    max-width: 360px;
    vertical-align: middle;
  }

  a {
    display: block;
    color: $nav-tools-account-link-text-color;
    line-height: 1;
    text-decoration: none;

    .q-mark {
      background: $nav-tools-account-link-q-mark-bg-color;
      border-radius: 50%;
      box-sizing: border-box;
      font-size: 12px;
      height: 22px;
      line-height: 23px;
      text-align: center;
      padding-right: 1px;
      width: 22px;
    }
  }
}
