// Main Menu.

.main-menu {
  background: $nav-top-nav-wrapper-bg-color;
  position: relative;
  z-index: 101;

  .js & {
    left: 0;
    position: absolute;
    top: 110px;
    width: 100%;

    @include breakpoint($screen-sm) {
      top: 135px;
    }
  }

  .nav-item {
    @include gridRows(1, 1%);
    float: left;
    vertical-align: top;

    @include breakpoint($screen-xs) {
      @include gridRows(2, 1%);
    }

    @include breakpoint($screen-md) {
      @include gridRows(3, 1%);
    }
  }

  .navbar-collapse {
    border: 0;
    box-shadow: none;

    ul {
      list-style-type: none;
      margin: 0;
      padding: 20px 0;
    }

    li {
      background: url('../images/main-menu-arrow-white.png') 0 17px no-repeat;
      margin-right: 7px;
    }

    a {
      color: $nav-bar-collapse-link-text-color;
      display: block;
      padding: 10px 10px 10px 17px;
      text-decoration: none;

      &:hover,
      &:focus {
        text-decoration: underline;
      }
    }
  }
}

.main-menu-btn {
  background: $main-menu-button-bg-color;
  border: {
    color: transparent;
    radius: 3px;
    width: 5px;
  }
  color: $main-menu-button-text-color;
  display: inline-block;
  font-weight: 600;
  line-height: 1.56;
  margin: 50px 0 0;
  padding: 10px;

  &:focus,
  &:active {
    border-color: $main-menu-button-focus-bg-color;

    .button-text {
      text-decoration: underline;
    }
  }

  @include breakpoint($screen-sm) {
    position: absolute;
    top: 0;
    right: 15px;
    margin-top: 60px;
    z-index: 2;
  }

  &-expanded {
    border-radius: 5px 5px 0 0;
    padding-bottom: 50px;

    .icon-bar {
      transition: all 0.2s;

      &.top {
        transform: translate(1px, 8px)rotate(45deg);
      }

      &.centre {
        opacity: 0;
      }

      &.bottom {
        transform: translate(1px, -6px)rotate(-45deg);
      }
    }
  }

  &-collapsed {
    .icon-bar {
      transition: all 0.2s;

      &.top {
        transform: rotate(0);
      }

      &.centre {
        opacity: 1;
      }

      &.bottom {
        transform: rotate(0);
      }
    }
  }

  .icon-bar {
    background: $nav-tools-menu-toggle-icon-bar-bg-color;
    border-radius: 4px;
    display: block;
    height: 3px;
    width: 26px;

    &.centre {
      margin-top: 4px;
    }

    &.bottom {
      margin-top: 4px;
    }
  }

  .icon-bars-wrap {
    padding: 4px 0 0 10px;
  }
}
