/*
* Prompt buttons
*/

.prompt-button {
  display: inline-block;
  margin: 0 10px 15px 0;
  padding: 0;
  background: $button-prompt-bg-color;
  border-radius: 3px;
  border: 1px solid $button-prompt-border-color;
  width: 240px;

  @media (max-width: 480px) {
    width: 100%;
  }

  &:focus {
    @extend .link-focus;
  }

  &:last-child {
    margin-right: 0;
  }

  span.prompt-text {
    display: inline-block;
    padding: 10px 15px 0;
    color: $button-prompt-text-color;
    width: 75%;
    white-space: nowrap;
  }

  span[class^='icon-'] {
    float: left;
    padding: 15px 10px;
    border-right: 1px solid $button-prompt-icon-border-color;
    color: $button-prompt-icon-text-color;
    width: 25%;
  }
}
