.field-name-field-promotional-slogan {
  @include applyColour();
  .slogan {
    @include constrained;
    padding: 30px 0;
    a {
      color: inherit;
      text-decoration: none;
    }
    .slogan-inner {
      display: flex;
      align-items: center;
      > :not(:last-child) {
        margin-right: 30px;
      }
      .slogan-image {
        min-width: 120px;
      }
      .slogan-text {
        flex: 1;
      }
      .slogan-title, .slogan-strapline {
        font-size: 2.4em;
        line-height: 1.2em;
        font-weight: 300;
      }
      .slogan-call-to-action {
        a {
          @extend .btn;
          background-color: $slogan-button-background-color;
          color: $slogan-button-text-color;
          font-weight: 600;
        }
      }
    }
  }
}
