// Acc Tabs.

.acc-tabs-container {
  margin-bottom: 20px;
}

.acc-tabs-panel {
  padding: 20px;
  margin-bottom: 30px;
  border: 1px solid $acc-tabs-panel-border-color;
  border-top: 0;
  border-radius: 0 0 5px 5px;
  p {
    margin-bottom: 10px;
    &:last-child {
      margin-bottom: 0;
    }
  }
}

.js-accordion-control {
  border: 1px solid $acc-tabs-control-border-color;
  border-radius: 0;
  padding: 10px 20px;
  margin: 0;
  font-size: 1.2rem;
  margin-bottom: -1px;
  &:not(.js-accordion-control--active) {
    color: $acc-tabs-control-button-text-color;
    cursor: pointer;
    outline: none;
    text-decoration: underline;
    font-weight: normal;
  }
  &:first-child {
    border-radius: 3px 3px 0 0;
  }
}

.js-accordion-panel {
  border-radius: 0;
  margin-bottom: -1px;
}

.js-acc-tabs-panel {
  margin: 0;
}

// Styling for tabs with JavaScript enabled.
.js-acc-tabs-control {
  @include clearfix;
  position: relative;
  list-style-type: none;
  padding-left: 0;
  margin: 0;

  &:after {
    position: absolute;
    content: "";
    width: 100%;
    bottom: 0;
    left: 0;
    border-bottom: 1px solid $acc-tabs-control-border-color;
    z-index: 1;
  }

  button {
    background: transparent;
    border: 1px solid $acc-tabs-control-button-border-color;
    border-bottom: 0;
    border-radius: 5px 5px 0 0;
    color: $acc-tabs-control-button-text-color;
    cursor: pointer;
    outline: none;
    text-decoration: underline;
    padding: 8px 18px 10px;
    margin-right: -1px;
    z-index: 1;
    background: #fcfcfc;

    &:hover,
    &:focus {
      text-decoration: none;
    }
  }

  li {
    float: left;
    position: relative;
    z-index: 2;
  }

  &-item-active {
    button {
      border: 1px solid $acc-tabs-control-item-active-border-color;
      border-bottom-color: $acc-tabs-control-item-active-bottom-border-color;
      color: $acc-tabs-control-active-button-text-color;
      text-decoration: none;
      margin-right: 0;
      background: white;
    }
  }
}
