.field-name-field-paragraph-video-video {
  padding: 56.25% 0 0;
  position: relative;
  width: 100%;

  iframe,
  embed {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }
}
