<form class="navbar-form hidden-xs margin-top-md" role="search">
  <div class="input-group">
    <label for="title-search" class="sr-only sr-only-focusable">Search the site</label>
    <input type="text" class="form-control title-search" placeholder="Search the site" id="title-search">
    <span class="input-group-btn">
      <button class="btn btn-primary btn-glyph" type="button">
        <span class="hide">Search</span>
        <span class="glyphicon glyphicon-search"></span>
      </button>
      </span>
  </div>
</form>
