/**
 * @file
 * Right-to-Left styling for the guide module.
 */

.guide-navigation .menu {
  padding: 1em 3em 0 0;
}

.guide-navigation .page-previous {
  float: right;
}
.guide-navigation .page-up {
  float: right;
}
