<div id="guide-navigation-6" class="guide-navigation-secondary">
  <div class="page-links clearfix">
      <a href="/council-tax/change-circumstances/changes-discounts-or-exemptions" class="btn btn-secondary page-previous" title="Go to previous page">‹ Changes to discounts or exemptions</a>
      <a href="/council-tax/change-circumstances/changes-tenancy" class="btn btn-secondary page-next" title="Go to next page">Changes to a tenancy ›</a>
    </div>
</div>
