<body class="html not-front not-logged-in one-sidebar sidebar-second page-news">
  <a class="sr-only sr-only-focusable" href="#main-content">Skip to main content</a>
  <!-- THEME DEBUG -->
  <!-- CALL: theme('region') -->
  <!-- FILE NAME SUGGESTIONS:
    * region--page-top.tpl.php
    x region.tpl.php
    -->
  <!-- BEGIN OUTPUT from 'modules/system/region.tpl.php' -->
  <!-- END OUTPUT from 'modules/system/region.tpl.php' -->
  <!-- THEME DEBUG -->
  <!-- CALL: theme('page') -->
  <!-- FILE NAME SUGGESTIONS:
    * page--news.tpl.php
    x page.tpl.php
    -->
  <!-- BEGIN OUTPUT from 'sites/all/themes/custom/bracknell_theme_base/templates/page.tpl.php' -->
  <div class="container print-logo show-print">
    <img class="img-responsive hide-ie8" src="/images/logo/Bracknell-logo_B.svg" alt="Bracknell Forest Council" width="100">
  </div>
  <nav class="navbar navbar-default">
    <!--Nav branding and tools-->
    <div class="container">
      <div class="row masthead">
        <!--Branding-->
        <a href="/" id="branding" class="navbar-brand-wrap">
        <span class="sr-only">Bracknell Forest Council</span>
        <img class="img-responsive hide-ie8" src="/sites/all/themes/custom/bracknell_theme_base/images/logo/Bracknell-logo_B.svg" alt="Bracknell Forest Council">
        <img class="img-responsive show-ie8" src="/sites/all/themes/custom/bracknell_theme_base/images/logo/Bracknell-logo_B.png" alt="Bracknell Forest Council">
        </a>
        <!--Nav Tools-->
        <div class="col-sm-12 col-md-10 col-md-offset-2 nav-tools">
          <div class="row">
            <div class="col-sm-8 col-md-5 col-sm-offset-2 nav-tools__search">
              <form class="navbar-form hidden-xs margin-top-md" role="search">
                <div class="input-group">
                  <input type="text" class="form-control title-search" placeholder="Search the site">
                  <span class="input-group-btn">
                  <button class="btn btn-primary btn-glyph" type="button">
                  <span class="hide">Search</span>
                  <span class="glyphicon glyphicon-search"></span>
                  </button>
                  </span>
                </div>
              </form>
            </div>
            <div class="col-xs-4 col-sm-4 col-md-3 text-center hidden-xs hidden-sm nav-tools__account">
              <a href="#">
              <span class="icon-bfc-icon-font-08"></span>
              <span>My Account</span>
              <span class="q-mark">?</span>
              </a>
            </div>
            <div class="col-xs-12 col-sm-2 text-right nav-tools__menu">
              <button type="button" id="open-menu" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bracknell-topnav" aria-expanded="false">
              <span class="navbar-toggle-inner">
              <span class="sr-only">Toggle navigation</span>
              <span class="menu-icon pull-left">Menu</span>
              <span class="icon-bars-wrap pull-left">
              <span class="icon-bar top"></span>
              <span class="icon-bar centre"></span>
              <span class="icon-bar bottom"></span>
              </span>
              </span>
              </button>
              <!--Mobile-->
              <button type="button" id="mobile-search-trigger" class="navbar-toggle search-toggle collapsed visible-xs" data-toggle="collapse" data-target="#search-toggle" aria-expanded="false">
              <span class="glyphicon glyphicon-search visible-xs-inline" aria-hidden="true"></span>
              <span class="sr-only">Toggle Search</span>
              <span class="search-text"></span>
              </button>
            </div>
          </div>
        </div>
        <!--search mobile-->
        <div class="col-sm-6 col-sm-offset-2 nav-tools__search--mobile-search">
          <form class="navbar-form visible-xs-block hidden-xs" id="search-toggle" role="search">
            <!--<form class="navbar-form visible-xs-block" id="search-toggle" role="search">-->
            <div class="input-group">
              <input type="text" class="form-control title-search" placeholder="Search the website">
              <span class="input-group-btn">
              <button class="btn btn-primary btn-glyph" type="button">
              <span class="hide">Search</span>
              <span class="glyphicon glyphicon-search"></span>
              </button>
              </span>
            </div>
          </form>
        </div>
        <!--Breadcrumbs here-->
        <div class="row no-pad">
          <nav id="breadcrumb" class="col-xs-12 col-xs-offset-0 col-md-10 col-md-offset-2">
            <ol class="breadcrumb">
              <li><a href="/">Home</a></li>
              <li class="active">News</li>
            </ol>
          </nav>
        </div>
      </div>
    </div>
    <!--Nav items-->
    <div class="container-fluid topnav-wrapper">
      <!-- Content for toggling -->
      <div class="container">
        <div class="collapse navbar-collapse" id="bracknell-topnav">
          <div class="row">
            <!-- THEME DEBUG -->
            <!-- CALL: theme('region') -->
            <!-- FILE NAME SUGGESTIONS:
              * region--navigation.tpl.php
              x region.tpl.php
              -->
            <!-- BEGIN OUTPUT from 'modules/system/region.tpl.php' -->
            <div class="region region-navigation">
              <!-- THEME DEBUG -->
              <!-- CALL: theme('block') -->
              <!-- FILE NAME SUGGESTIONS:
                * block--localgov-base-navigation--navigation-main.tpl.php
                * block--localgov-base-navigation.tpl.php
                * block--navigation.tpl.php
                x block.tpl.php
                -->
              <!-- BEGIN OUTPUT from 'sites/all/themes/contrib/bootstrap/templates/block/block.tpl.php' -->
              <section id="block-localgov-base-navigation-navigation-main" class="block block-localgov-base-navigation clearfix">
                <nav id="main-nav">
                  <ul>
                    <li role="presentation" class="visible-sm-inline-block visible-xs-inline-block nav-tools__account nav-item nav-item-my-account"><a href="#"><span class="icon theme-icon-user"></span> <span>My Account</span></a></li>
                    <li class=" nav-item nav-item-home" role="presentation"><a href="/">Home</a></li>
                    <li class=" nav-item nav-item-benefits" role="presentation"><a href="/benefits">Benefits</a></li>
                    <li class=" nav-item nav-item-bins-and-recycling" role="presentation"><a href="/bins-and-recycling">Bins and recycling</a></li>
                    <li class=" nav-item nav-item-births-deaths-and-marriages" role="presentation"><a href="/births-deaths-and-marriages">Births, deaths and marriages</a></li>
                    <li class=" nav-item nav-item-business-information" role="presentation"><a href="/business-information">Business information</a></li>
                    <li class=" nav-item nav-item-children-and-family-services" role="presentation"><a href="/children-and-family-services">Children and family services</a></li>
                    <li class=" nav-item nav-item-consultations" role="presentation"><a href="/consultations">Consultations</a></li>
                    <li class=" nav-item nav-item-council-tax" role="presentation"><a href="/council-tax">Council tax</a></li>
                    <li class=" nav-item nav-item-e+-card" role="presentation"><a href="/e+-card">e+ card</a></li>
                    <li class=" nav-item nav-item-elections-and-voting" role="presentation"><a href="/elections-and-voting">Elections and voting</a></li>
                    <li class=" nav-item nav-item-health-and-social-care" role="presentation"><a href="/health-and-social-care">Health and social care</a></li>
                    <li class=" nav-item nav-item-housing" role="presentation"><a href="/housing">Housing</a></li>
                    <li class=" nav-item nav-item-jobs" role="presentation"><a href="/jobs">Jobs</a></li>
                    <li class=" nav-item nav-item-leisure-services" role="presentation"><a href="/leisure-services">Leisure Services</a></li>
                    <li class=" nav-item nav-item-libraries" role="presentation"><a href="/libraries">Libraries</a></li>
                    <li class=" nav-item nav-item-licensing" role="presentation"><a href="/licensing">Licensing</a></li>
                    <li class=" nav-item nav-item-parks-and-countryside" role="presentation"><a href="/parks-and-countryside">Parks and countryside</a></li>
                    <li class=" nav-item nav-item-planning-and-building-control" role="presentation"><a href="/planning-and-building-control">Planning and building control</a></li>
                    <li class=" nav-item nav-item-roads-parking-and-transport" role="presentation"><a href="/roads-parking-and-transport">Roads, parking and transport</a></li>
                    <li class=" nav-item nav-item-schools-and-learning" role="presentation"><a href="/schools-and-learning">Schools and learning</a></li>
                    <li class=" nav-item nav-item-strategies-plans-and-policies" role="presentation"><a href="/strategies-plans-and-policies">Strategies, plans and policies</a></li>
                    <li class=" nav-item nav-item-street-cleaning" role="presentation"><a href="/street-cleaning">Street cleaning</a></li>
                    <li class=" nav-item nav-item-the-council-and-democracy" role="presentation"><a href="/the-council-and-democracy">The council and democracy</a></li>
                    <li class=" nav-item nav-item-contact-us" role="presentation"><a href="/contact-us">Contact us</a></li>
                  </ul>
                </nav>
              </section>
              <!-- END OUTPUT from 'sites/all/themes/contrib/bootstrap/templates/block/block.tpl.php' -->
            </div>
            <!-- END OUTPUT from 'modules/system/region.tpl.php' -->
          </div>
        </div>
      </div>
    </div>
  </nav>
  <div class="main-container container">
    <div class="row" id="page-content">
      <header role="banner" id="page-header" class="col-sm-12 col-md-8">
        <h1 class="page-header">News</h1>
      </header>
      <section class="col-md-8">
        <a id="main-content"></a>
        <!-- THEME DEBUG -->
        <!-- CALL: theme('region') -->
        <!-- FILE NAME SUGGESTIONS:
          * region--no-wrapper.tpl.php
          * region--content.tpl.php
          x region.tpl.php
          -->
        <!-- BEGIN OUTPUT from 'modules/system/region.tpl.php' -->
        <div class="region region-content">
          <!-- THEME DEBUG -->
          <!-- CALL: theme('block') -->
          <!-- FILE NAME SUGGESTIONS:
            * block--no-wrapper.tpl.php
            * block--system--main.tpl.php
            * block--system.tpl.php
            * block--content.tpl.php
            x block.tpl.php
            -->
          <!-- BEGIN OUTPUT from 'sites/all/themes/contrib/bootstrap/templates/block/block.tpl.php' -->
          <section id="block-system-main" class="block block-system clearfix">
            <!-- THEME DEBUG -->
            <!-- CALL: theme('views_view') -->
            <!-- BEGIN OUTPUT from 'sites/all/modules/contrib/views/theme/views-view.tpl.php' -->
            <div class="view view-news view-id-news view-display-id-page view-dom-id-420c650731935ff350d9608de7054aa6">
              <div class="view-content">
                <!-- THEME DEBUG -->
                <!-- CALL: theme('views_view_unformatted') -->
                <!-- BEGIN OUTPUT from 'sites/all/modules/contrib/views/theme/views-view-unformatted.tpl.php' -->
                <div class="views-row views-row-1 views-row-odd views-row-first">
                  <!-- THEME DEBUG -->
                  <!-- CALL: theme('node') -->
                  <!-- FILE NAME SUGGESTIONS:
                    * node--view--news--page.tpl.php
                    * node--view--news.tpl.php
                    * node--112.tpl.php
                    x node--article.tpl.php
                    * node.tpl.php
                    -->
                  <!-- BEGIN OUTPUT from 'sites/all/modules/custom/localgov/localgov_feature_news/templates/node--article.tpl.php' -->
                  <article id="node-112" class="row node node-article node-teaser clearfix" about="/news/2016/11/ideo" typeof="sioc:Item foaf:Document">
                    <figure class="col-sm-4">
                      <!-- THEME DEBUG -->
                      <!-- CALL: theme('field') -->
                      <!-- FILE NAME SUGGESTIONS:
                        x field--field-image--article.tpl.php
                        * field--article.tpl.php
                        * field--field-image.tpl.php
                        * field--image.tpl.php
                        * field.tpl.php
                        -->
                      <!-- BEGIN OUTPUT from 'sites/all/modules/custom/localgov/localgov_feature_news/templates/field--field-image--article.tpl.php' -->
                      <!--
                        THIS FILE IS NOT USED AND IS HERE AS A STARTING POINT FOR CUSTOMIZATION ONLY.
                        See http://api.drupal.org/api/function/theme_field/7 for details.
                        After copying this file to your theme's folder and customizing it, remove this
                        HTML comment.
                        -->
                      <div class="field field-name-field-image field-type-image field-label-hidden">
                        <div class="field-items">
                          <div class="field-item even"><a href="/news/2016/11/ideo">
                            <img typeof="foaf:Image" class="img-responsive" src="https://d1jvujni4ixr8o.cloudfront.net/sites/bracknell/styles/medium/s3/images/news/imagefield_vxxUAU.jpg?itok=JM0lBmEX" width="206" height="220" alt="Abigo brevitas consectetuer lenis odio pagus refero zelus." title="Distineo eligo eros nunc patria saluto sed vero vindico."></a></div>
                        </div>
                      </div>
                      <!-- END OUTPUT from 'sites/all/modules/custom/localgov/localgov_feature_news/templates/field--field-image--article.tpl.php' -->
                    </figure>
                    <div class="content col-sm-8">
                      <header>
                        <h2 class="margin-top-zero"><a href="/news/2016/11/ideo">Ideo</a></h2>
                        <span property="dc:title" content="Ideo" class="rdf-meta element-hidden"></span>
                      </header>
                      <div class="field field-name-body field-type-text-with-summary field-label-hidden">
                        <div class="field-items">
                          <div class="field-item even" property="content:encoded">
                            <p>Gilvus iriure neo paratus praemitto qui sit. Adipiscing natu pertineo. Comis hendrerit iusto jus
                              nutus premo refero saluto singularis suscipere. Aptent commodo consequat et eu imputo jumentum laoreet
                              molior.</p>
                          </div>
                        </div>
                      </div>
                      <footer>
                        <span class="footer-small article-date">12/11/16</span>
                      </footer>
                    </div>
                  </article>
                  <!-- END OUTPUT from 'sites/all/modules/custom/localgov/localgov_feature_news/templates/node--article.tpl.php' -->
                </div>
                <div class="views-row views-row-2 views-row-even">
                  <!-- THEME DEBUG -->
                  <!-- CALL: theme('node') -->
                  <!-- FILE NAME SUGGESTIONS:
                    * node--view--news--page.tpl.php
                    * node--view--news.tpl.php
                    * node--134.tpl.php
                    x node--article.tpl.php
                    * node.tpl.php
                    -->
                  <!-- BEGIN OUTPUT from 'sites/all/modules/custom/localgov/localgov_feature_news/templates/node--article.tpl.php' -->
                  <article id="node-134" class="row node node-article node-promoted node-teaser clearfix" about="/news/2016/11/augue-immitto-macto" typeof="sioc:Item foaf:Document">
                    <figure class="col-sm-4">
                      <!-- THEME DEBUG -->
                      <!-- CALL: theme('field') -->
                      <!-- FILE NAME SUGGESTIONS:
                        x field--field-image--article.tpl.php
                        * field--article.tpl.php
                        * field--field-image.tpl.php
                        * field--image.tpl.php
                        * field.tpl.php
                        -->
                      <!-- BEGIN OUTPUT from 'sites/all/modules/custom/localgov/localgov_feature_news/templates/field--field-image--article.tpl.php' -->
                      <!--
                        THIS FILE IS NOT USED AND IS HERE AS A STARTING POINT FOR CUSTOMIZATION ONLY.
                        See http://api.drupal.org/api/function/theme_field/7 for details.
                        After copying this file to your theme's folder and customizing it, remove this
                        HTML comment.
                        -->
                      <div class="field field-name-field-image field-type-image field-label-hidden">
                        <div class="field-items">
                          <div class="field-item even"><a href="/news/2016/11/augue-immitto-macto">
                            <img typeof="foaf:Image" class="img-responsive" src="https://d1jvujni4ixr8o.cloudfront.net/sites/bracknell/styles/medium/s3/images/news/imagefield_uglO4W.jpeg?itok=sRR8EjB2" width="220" height="119" alt="Augue quadrum verto. Abdo appellatio blandit ea gemino iaceo nisl paratus saepius si." title="At oppeto proprius sudo."></a></div>
                        </div>
                      </div>
                      <!-- END OUTPUT from 'sites/all/modules/custom/localgov/localgov_feature_news/templates/field--field-image--article.tpl.php' -->
                    </figure>
                    <div class="content col-sm-8">
                      <header>
                        <h2 class="margin-top-zero"><a href="/news/2016/11/augue-immitto-macto">Augue Immitto Macto</a></h2>
                        <span property="dc:title" content="Augue Immitto Macto" class="rdf-meta element-hidden"></span>
                      </header>
                      <div class="field field-name-body field-type-text-with-summary field-label-hidden">
                        <div class="field-items">
                          <div class="field-item even" property="content:encoded">
                            <p>Duis gravis probo vulpes. Facilisi gilvus immitto interdico. Consectetuer letalis suscipit voco.
                              Eligo euismod iustum torqueo. Accumsan esca neo nimis pecus scisco valetudo.</p>
                            <p>Augue dignissim exerci facilisis haero occuro quidne quis tego utinam. Abico capto esca euismod
                              lenis lucidus natu quis. Abbas hos iustum pecus tation vicis vulputate. Humo iriure lucidus quibus
                              tincidunt uxor. Aliquam aptent bene decet nulla occuro quibus similis ymo. Appellatio commodo ea
                              probo quibus valetudo vereor. Facilisi ille in voco. Antehabeo commodo incassum ludus mauris minim sit te.
                            </p>
                          </div>
                        </div>
                      </div>
                      <footer>
                        <span class="footer-small article-date">10/11/16</span>
                      </footer>
                    </div>
                  </article>
                  <!-- END OUTPUT from 'sites/all/modules/custom/localgov/localgov_feature_news/templates/node--article.tpl.php' -->
                </div>
                <div class="views-row views-row-3 views-row-odd views-row-last">
                  <!-- THEME DEBUG -->
                  <!-- CALL: theme('node') -->
                  <!-- FILE NAME SUGGESTIONS:
                    * node--view--news--page.tpl.php
                    * node--view--news.tpl.php
                    * node--101.tpl.php
                    x node--article.tpl.php
                    * node.tpl.php
                    -->
                  <!-- BEGIN OUTPUT from 'sites/all/modules/custom/localgov/localgov_feature_news/templates/node--article.tpl.php' -->
                  <article id="node-101" class="row node node-article node-teaser clearfix" about="/news/2016/11/plaga-pneum-vereor" typeof="sioc:Item foaf:Document">
                    <figure class="col-sm-4">
                      <!-- THEME DEBUG -->
                      <!-- CALL: theme('field') -->
                      <!-- FILE NAME SUGGESTIONS:
                        x field--field-image--article.tpl.php
                        * field--article.tpl.php
                        * field--field-image.tpl.php
                        * field--image.tpl.php
                        * field.tpl.php
                        -->
                      <!-- BEGIN OUTPUT from 'sites/all/modules/custom/localgov/localgov_feature_news/templates/field--field-image--article.tpl.php' -->
                      <!--
                        THIS FILE IS NOT USED AND IS HERE AS A STARTING POINT FOR CUSTOMIZATION ONLY.
                        See http://api.drupal.org/api/function/theme_field/7 for details.
                        After copying this file to your theme's folder and customizing it, remove this
                        HTML comment.
                        -->
                      <div class="field field-name-field-image field-type-image field-label-hidden">
                        <div class="field-items">
                          <div class="field-item even"><a href="/news/2016/11/plaga-pneum-vereor"><img typeof="foaf:Image" class="img-responsive" src="https://d1jvujni4ixr8o.cloudfront.net/sites/bracknell/styles/medium/s3/images/news/imagefield_Rte4BS.jpg?itok=HzuN22Nr" width="122" height="220" alt="Blandit cogo feugiat vel." title="Abluo aliquam damnum enim imputo sino uxor."></a></div>
                        </div>
                      </div>
                      <!-- END OUTPUT from 'sites/all/modules/custom/localgov/localgov_feature_news/templates/field--field-image--article.tpl.php' -->
                    </figure>
                    <div class="content col-sm-8">
                      <header>
                        <h2 class="margin-top-zero">
                          <a href="/news/2016/11/plaga-pneum-vereor">Plaga Pneum Vereor</a></h2>
                        <span property="dc:title" content="Plaga Pneum Vereor" class="rdf-meta element-hidden"></span>
                      </header>
                      <div class="field field-name-body field-type-text-with-summary field-label-hidden">
                        <div class="field-items">
                          <div class="field-item even" property="content:encoded">
                            <p>Causa genitus gravis populus. Diam erat iaceo loquor metuo. Euismod obruo sed. Ad iusto iustum plaga
                              populus sudo utrum velit ymo. Ad bene exerci genitus gravis nobis paulatim populus premo virtus.</p>
                            <p>Esse huic nutus. Aptent brevitas cui eu importunus jus ludus plaga utinam. Abigo appellatio commoveo
                              consectetuer dolor esse odio. Brevitas commodo dolus lenis lobortis melior sino utinam uxor valetudo.</p>
                          </div>
                        </div>
                      </div>
                      <footer>
                        <span class="footer-small article-date">09/11/16</span>
                      </footer>
                    </div>
                  </article>
                  <!-- END OUTPUT from 'sites/all/modules/custom/localgov/localgov_feature_news/templates/node--article.tpl.php' -->
                </div>
                <!-- END OUTPUT from 'sites/all/modules/contrib/views/theme/views-view-unformatted.tpl.php' -->
              </div>
              <div class="text-center">
                <ul class="pagination">
                  <li class="active"><span>1</span></li>
                  <li><a title="Go to page 2" href="/news?page=1">2</a></li>
                  <li><a title="Go to page 3" href="/news?page=2">3</a></li>
                  <li><a title="Go to page 4" href="/news?page=3">4</a></li>
                  <li><a title="Go to page 5" href="/news?page=4">5</a></li>
                  <li><a title="Go to page 6" href="/news?page=5">6</a></li>
                  <li><a title="Go to page 7" href="/news?page=6">7</a></li>
                  <li class="next"><a title="Go to next page" href="/news?page=1">next ›</a></li>
                  <li class="pager-last"><a title="Go to last page" href="/news?page=6">last »</a></li>
                </ul>
              </div>
            </div>
            <!-- END OUTPUT from 'sites/all/modules/contrib/views/theme/views-view.tpl.php' -->
          </section>
          <!-- END OUTPUT from 'sites/all/themes/contrib/bootstrap/templates/block/block.tpl.php' -->
        </div>
        <!-- END OUTPUT from 'modules/system/region.tpl.php' -->
      </section>
      <aside class="col-md-3 col-md-offset-1" role="complementary">
        <!-- THEME DEBUG -->
        <!-- CALL: theme('region') -->
        <!-- FILE NAME SUGGESTIONS:
          * region--sidebar-second.tpl.php
          x region.tpl.php
          -->
        <!-- BEGIN OUTPUT from 'modules/system/region.tpl.php' -->
        <div class="region region-sidebar-second">
          <!-- THEME DEBUG -->
          <!-- CALL: theme('block') -->
          <!-- FILE NAME SUGGESTIONS:
            * block--views--news-archive-block.tpl.php
            * block--views.tpl.php
            * block--sidebar-second.tpl.php
            x block.tpl.php
            -->
          <!-- BEGIN OUTPUT from 'sites/all/themes/contrib/bootstrap/templates/block/block.tpl.php' -->
          <section id="block-views-news-archive-block" class="block block-views clearfix">
            <h3 class="block-title">News archive</h3>
            <!-- THEME DEBUG -->
            <!-- CALL: theme('views_view') -->
            <!-- BEGIN OUTPUT from 'sites/all/modules/contrib/views/theme/views-view.tpl.php' -->
            <div class="view view-news-archive view-id-news_archive view-display-id-block view-dom-id-0f8f6ef3cbb12cd00a3e106f51cc2d9a">
              <div class="view-content">
                <!-- THEME DEBUG -->
                <!-- CALL: theme('views_view_summary') -->
                <!-- BEGIN OUTPUT from 'sites/all/modules/contrib/views/theme/views-view-summary.tpl.php' -->
                <div class="item-list">
                  <ul class="views-summary">
                    <li><a href="/news/archive/201610">October 2016</a>
                      (12)
                    </li>
                    <li><a href="/news/archive/201611">November 2016</a>
                      (8)
                    </li>
                  </ul>
                </div>
                <!-- END OUTPUT from 'sites/all/modules/contrib/views/theme/views-view-summary.tpl.php' -->
              </div>
            </div>
            <!-- END OUTPUT from 'sites/all/modules/contrib/views/theme/views-view.tpl.php' -->
          </section>
          <!-- END OUTPUT from 'sites/all/themes/contrib/bootstrap/templates/block/block.tpl.php' -->
        </div>
        <!-- END OUTPUT from 'modules/system/region.tpl.php' -->
      </aside>
      <!-- /#sidebar-second -->
    </div>
  </div>
  <div class="outer-wrap global-footer hide-print">
    <footer class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-8">
          <ul class="global-footer-links">
            <li class="menu-586 first">
              <a href="/uuid/node/cd88595a-7e21-4e3e-83d5-7d2c41b8f118" title="Terms and conditions">Terms and conditions</a></li>
            <li class="menu-587">
              <a href="/uuid/node/52c57696-aad5-49a0-960a-7c042c7fb4cb" title="Accessibility">Accessibility</a></li>
            <li class="menu-588 last">
              <a href="https://www.gov.uk/" title="GOV.UK">GOV.UK</a></li>
          </ul>
        </div>
        <div class="col-xs-12 col-sm-4 socials socials-global-footer">
          <ul>
            <li>
              <a href="#">
              <span class="sr-only sr-only-focusable">Instagram</span>
              <span class="icon-bfc-icon-font-14"></span>
              </a>
            </li>
            <li>
              <a href="#">
              <span class="sr-only sr-only-focusable">Twitter</span>
              <span class="icon-bfc-icon-font-06"></span>
              </a>
            </li>
            <li>
              <a href="#">
              <span class="sr-only sr-only-focusable">Facebook</span>
              <span class="icon-bfc-icon-font-09"></span>
              </a>
            </li>
            <li>
              <a href="#">
              <span class="sr-only sr-only-focusable">Youtube</span>
              <span class="icon-bfc-icon-font-10"></span>
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <p class="copyright"><small>© Bracknell Forest Council</small></p>
        </div>
      </div>
    </footer>
  </div>
  <!-- END OUTPUT from 'sites/all/themes/custom/bracknell_theme_base/templates/page.tpl.php' -->
  <script src="http://192.168.1.101/sites/all/themes/contrib/bootstrap/js/bootstrap.js?ogqi8y"></script>
  <!-- END OUTPUT from 'sites/all/themes/custom/bracknell_theme_base/templates/html.tpl.php' -->
</body>
