<div class="page-rater clearfix">
	<h4>Was this page useful?</h4>
	<a class="collapsed page-rater-button" role="button" data-toggle="collapse" href="#formPageRater" aria-expanded="false" aria-controls="formPageRater">
		<span class="sr-only sr-only-focusable">Yes</span>
		<span class="icon theme-icon-face-happy"></span>
	</a>
	<a class="collapsed page-rater-button" role="button" data-toggle="collapse" href="#formPageRater" aria-expanded="false" aria-controls="formPageRater">
		<span class="sr-only sr-only-focusable">Maybe</span>
		<span class="icon theme-icon-face-neutral"></span>
	</a>
	<a class="collapsed page-rater-button" role="button" data-toggle="collapse" href="#formPageRater" aria-expanded="false" aria-controls="formPageRater">
		<span class="sr-only sr-only-focusable">No</span>
		<span class="icon theme-icon-face-sad"></span>
	</a>
</div>
