<div class="page-rater collapse" id="formPageRater">
	<div class="row">
		<form action="" class="col-sm-12">
			<textarea name="" id="page-rater-feedback" cols="20" rows="10" placeholder="Insert your feedback here"></textarea>
			<button id="page-rater-submit" type="submit" class="btn btn-default" value="Submit">Submit</button>
		</form>
	</div>
</div>
