{{> organisms-global-header}}
{{> organisms-page-header}}


<div class="container block-30">
	<div class="row">
		<div class="col-sm-12">
			{{> molecules-buttongroup-listen-easyread }}
		</div>
	</div>
</div>


{{> page-content-content-small-electrical-recycling}}


{{> organisms-page-footer}}
{{> organisms-global-footer}}
