{{> organisms-global-header}}

<div class="container block-30">
        <div class="row">
                <div class="col-sm-12">
                        {{> molecules-buttongroup-listen-easyread}}
                </div>
        </div>
</div>

<div class="container-fluid grey-x-light block-30" id="main-content" role="main">
        <div class="container">
                <div class="row">
                        <div class="col-md-8 col-sm-12">
                        </div>
                </div>
        </div>
</div>

<div class="container">
        <div class="row">
                <div class="col-sm-12 col-md-8">
                        <h2>6. Small electrical recycling </h2>

                        <div class="row no-pad">
                                <div class="col-sm-6">

                                </div>
                                <div class="col-sm-6">

                                </div>
                        </div>


                </div>
                        {{> molecules-side-navigation}}
        </div>

        <!--Page related footer-->
        {{> organisms-page-footer}}
</div>
<div id="push"></div>

{{> organisms-global-footer}}

