<div class="outer-wrap global-footer">
  <footer class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-8">
        {{> molecules-footer-global-navigation}}
      </div>
      <div class="col-xs-12 col-sm-4 socials socials-global-footer">
        {{> molecules-footer-global-social-icons}}
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        {{> atoms-copyright}}
      </div>
    </div>

  </footer>
</div>
