<table class="table table__yes-no">
	<thead>
	<tr>
		<th style="width: 50%">Yes, please</th>
		<th style="width: 50%">No, thank you</th>
	</tr>
	</thead>
	<tbody>
	<tr>
		<td>Hairdryers, hair straightners, curling tongs</td>
		<td>Microwaves</td>
	</tr>
	<tr>
		<td>Kettles</td>
		<td>TV's</td>
	</tr>
	</tbody>
</table>
