<div class="form-group">
  <label for="disabledSelect">Disabled select menu</label>
  <select id="disabledSelect" class="form-control" disabled>
    <option>Disabled select</option>
  </select>
</div>
