<div class="modal fade out" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" style="display: block;">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
				<h2>Create an account?</h2></div>
			<div class="modal-body">
				<div id="anonymousModal"><p class="registration-text">Sign up for an account to manage your service
					requests and accounts with us.</p>
					<ul>
						<li>Saves you time with auto-completion of your information when filling forms</li>
						<li>View a history of your requests and accounts</li>
					</ul>
					<p><a href="#" id="registerAnon" data-toggle="modal" data-action="register_anon" data-target="#loginModal" data-close="true" data-dismiss="modal" class="btn btn-block btn-lg btn-primary">Create account now</a></p>
					<p><a href="#" id="loginAnon" data-action="login_anon" data-toggle="modal" data-target="#loginModal" data-close="" class="btn btn-default btn-block btn-lg">Log in</a></p>
					<p class="continue-anonymously muted">or, <a href="#" id="continue" data-dismiss="modal">continue without an account</a></p>
					<hr>
					<strong>Fire modal on page-load - ./src/js/app.js:</strong><br>
					<code>
						// Modal on page load
						$(window).load(function(){
						$('#myModal').modal('show');
						});
					</code>
					<p><a href="http://getbootstrap.com/javascript/#modals-events§">http://getbootstrap.com/javascript/#modals-events</a></p>
				</div>
			</div>
			<div class="modal-footer"><a href="#" class="btn btn-default modalCancelButton" data-dismiss="modal">Close</a>
			</div>
		</div>
	</div>
</div>
