<div class="row no-pad hide-print">
	<div class="col-sm-12 col-md-8 green-top-twopx socials socials-in-page block_no-pad">
		<p class="share-page pull-left">Share this page</p>
		{{> deesonpartials-social-icons-in-page}}
	</div>
	<div class="col-xs-12 col-md-3 col-md-offset-1">
		{{> deesonpartials-page-rater_collapse}}
	</div>
</div>
