<div class="col-md-3 col-sm-6">
  <div class="pod-inner green-top">
    <p class="margin-bot-sm">Bracknell Forest Council</p>
    <h3 class="lge"><a href="news.php">News</a></h3>
    <p>from around the borough</p>
    <a href="#" class="btn">Read news</a>
  </div>
</div>
