<div class="row no-pad">
	<div class="col-md-5 green-top block-30">
		<h2 class="h-light"><a href="#">Overhaul of town centre gateways to start and contractor appointed</a></h2>
		<p>A major project to overhaul town centre roads, car parks and gateways will start in mid-February, signalling another step forward in the extensive £240m regeneration programme to form The Lexicon Bracknell.</p>
		<a href="#" class="btn btn-primary">Read more</a>
	</div>
	<div class="col-md-7">
		<a href="#">
			<img src="http://placehold.it/1024x579" class="img-responsive" alt="">
		</a>
	</div>
</div>
