<article class="row">
  <figure class="col-sm-4">
    <img src="/images/Bracknell-town-centre_1024x579.jpg" class="img-responsive" alt="Placeholder image">
  </figure>
  <div class="col-sm-8">
    <header><h3 class="margin-top-zero"><a href="#">Participation among 16 to 17 year olds in Bracknell Forest increases</a></h3></header>
    <p>Fusce vel dui. Donec id justo. Etiam ultricies nisi vel augue. Etiam ultricies nisi vel augue.
      Ut non enim eleifend felis pretium feugiat. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos hymenaeos.
    </p>
    <footer>26/2/16</footer>
  </div>
</article>
