<article class="row">
  <figure class="col-sm-4 text-center">
    <img src="/images/img-archived_lge.gif" class="img-responsive archive" alt="Placeholder image">
    <figcaption class="sr-only">
      Bracknell Forest Council
    </figcaption>
  </figure>
  <div class="col-sm-8">
    <span class="label label-archive">Archived</span>
    <header><h3 class="margin-top-zero"><a href="#">Planning permission approved for work on Station Green</a></h3></header>
    <p>Fusce vel dui. Donec id justo. Etiam ultricies nisi vel augue. Etiam ultricies nisi vel augue.
      Ut non enim eleifend felis pretium feugiat. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos hymenaeos.
    </p>
    <footer>26/2/16</footer>
  </div>
</article>
