<div class="container">
<div class="row">

<div id="carousel" class="carousel slide" data-ride="carousel" data-interval="15000">

  <!-- Wrapper for slides -->
  <div class="carousel-inners">
    <div class="items active">
      <img src="/images/sample/Bracknell-town-centre_1024x579.jpg" alt="...">
      <div class="carousel-captions">
      	<h3>Caption Text 1</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent mattis purus nec justo rutrum,
          vel tristique ligula sagittis. Integer vel commodo leo, eu lobortis eros. Vestibulum ante ipsum primis
          in faucibus orci luctus et ultrices posuere cubilia Curae; Nam luctus dui et augue posuere dapibus.
          In malesuada dui eget quam interdum, nec dictum mi ultrices. Nulla diam libero, tincidunt eu volutpat sed,
          finibus eu nulla. Ut sit amet luctus lectus.</p>
      </div>
    </div>

  </div>


</div> <!-- Carousel -->

</div>
</div>
