<div class="icons-container">

  <h3>Deeson Icons (Icomoon)</h3>

  <div class="icons-demo" id="icons">

    <div class="icons__item" data-name="icon-bfc-icon-font_Artboard-41-41">
      <i class="icon icon-bfc-icon-font_Artboard-41-41"></i> icon-bfc-icon-font_Artboard-41-41
    </div>

    <div class="icons__item" data-name="icon-bfc-icon-font_Artboard-42-copy-2">
      <i class="icon icon-bfc-icon-font_Artboard-42-copy-2"></i> icon-bfc-icon-font_Artboard-42-copy-2
    </div>

    <div class="icons__item" data-name="icon-bfc-icon_Libraries">
      <i class="icon icon-bfc-icon_Libraries"></i> icon-bfc-icon_Libraries
    </div>

    <div class="icons__item" data-name="icon-bfc-icon-font_Artboard-42">
      <i class="icon icon-bfc-icon-font_Artboard-42"></i> icon-bfc-icon-font_Artboard-42
    </div>

    <div class="icons__item" data-name="icon-bfc-icon-font_crimenemergancies">
      <i class="icon icon-bfc-icon-font_crimenemergancies"></i> icon-bfc-icon-font_crimenemergancies
    </div>

    <div class="icons__item" data-name="icon-bfc-icon-font_liscensing">
      <i class="icon icon-bfc-icon-font_liscensing"></i> icon-bfc-icon-font_liscensing
    </div>

    <div class="icons__item" data-name="icon-bfc-icon-font_street">
      <i class="icon icon-bfc-icon-font_street"></i> icon-bfc-icon-font_street
    </div>

    <div class="icons__item" data-name="icon-bfc-icon-font-01">
      <i class="icon icon-bfc-icon-font-01"></i> icon-bfc-icon-font-01
    </div>

    <div class="icons__item" data-name="icon-bfc-icon-font-02">
      <i class="icon icon-bfc-icon-font-02"></i> icon-bfc-icon-font-02
    </div>

    <div class="icons__item" data-name="icon-bfc-icon-font-03">
      <i class="icon icon-bfc-icon-font-03"></i> icon-bfc-icon-font-03
    </div>

    <div class="icons__item" data-name="icon-bfc-icon-font-04">
      <i class="icon icon-bfc-icon-font-04"></i> icon-bfc-icon-font-04
    </div>

    <div class="icons__item" data-name="icon-bfc-icon-font-05">
      <i class="icon icon-bfc-icon-font-05"></i> icon-bfc-icon-font-05
    </div>

    <div class="icons__item" data-name="icon-bfc-icon-font-06">
      <i class="icon icon-bfc-icon-font-06"></i> icon-bfc-icon-font-06
    </div>

    <div class="icons__item" data-name="icon-bfc-icon-font-07">
      <i class="icon icon-bfc-icon-font-07"></i> icon-bfc-icon-font-07
    </div>

    <div class="icons__item" data-name="icon-bfc-icon-font-08">
      <i class="icon icon-bfc-icon-font-08"></i> icon-bfc-icon-font-08
    </div>

    <div class="icons__item" data-name="icon-bfc-icon-font-09">
      <i class="icon icon-bfc-icon-font-09"></i> icon-bfc-icon-font-09
    </div>

    <div class="icons__item" data-name="icon-bfc-icon-font-10">
      <i class="icon icon-bfc-icon-font-10"></i> icon-bfc-icon-font-10
    </div>

    <div class="icons__item" data-name="icon-bfc-icon-font-11">
      <i class="icon icon-bfc-icon-font-11"></i> icon-bfc-icon-font-11
    </div>

    <div class="icons__item" data-name="icon-bfc-icon-font-12">
      <i class="icon icon-bfc-icon-font-12"></i> icon-bfc-icon-font-12
    </div>

    <div class="icons__item" data-name="icon-bfc-icon-font-13">
      <i class="icon icon-bfc-icon-font-13"></i> icon-bfc-icon-font-13
    </div>

    <div class="icons__item" data-name="icon-bfc-icon-font-14">
      <i class="icon icon-bfc-icon-font-14"></i> icon-bfc-icon-font-14
    </div>

    <div class="icons__item" data-name="icon-bfc-icon-font-15">
      <i class="icon icon-bfc-icon-font-15"></i> icon-bfc-icon-font-15
    </div>

    <div class="icons__item" data-name="icon-bfc-icon-font-16">
      <i class="icon icon-bfc-icon-font-16"></i> icon-bfc-icon-font-16
    </div>

    <div class="icons__item" data-name="icon-bfc-icon-font-17">
      <i class="icon icon-bfc-icon-font-17"></i> icon-bfc-icon-font-17
    </div>

    <div class="icons__item" data-name="icon-bfc-icon-font-18">
      <i class="icon icon-bfc-icon-font-18"></i> icon-bfc-icon-font-18
    </div>

    <div class="icons__item" data-name="icon-bfc-icon-font-19">
      <i class="icon icon-bfc-icon-font-19"></i> icon-bfc-icon-font-19
    </div>

    <div class="icons__item" data-name="icon-bfc-icon-font-20">
      <i class="icon icon-bfc-icon-font-20"></i> icon-bfc-icon-font-20
    </div>

    <div class="icons__item" data-name="icon-bfc-icon-font-21">
      <i class="icon icon-bfc-icon-font-21"></i> icon-bfc-icon-font-21
    </div>

    <div class="icons__item" data-name="icon-bfc-icon-font-22">
      <i class="icon icon-bfc-icon-font-22"></i> icon-bfc-icon-font-22
    </div>

    <div class="icons__item" data-name="icon-bfc-icon-font-23">
      <i class="icon icon-bfc-icon-font-23"></i> icon-bfc-icon-font-23
    </div>

    <div class="icons__item" data-name="icon-bfc-icon-font-24">
      <i class="icon icon-bfc-icon-font-24"></i> icon-bfc-icon-font-24
    </div>

    <div class="icons__item" data-name="icon-bfc-icon-font-25">
      <i class="icon icon-bfc-icon-font-25"></i> icon-bfc-icon-font-25
    </div>

    <div class="icons__item" data-name="icon-bfc-icon-font-26">
      <i class="icon icon-bfc-icon-font-26"></i> icon-bfc-icon-font-26
    </div>

    <div class="icons__item" data-name="icon-bfc-icon-font-27">
      <i class="icon icon-bfc-icon-font-27"></i> icon-bfc-icon-font-27
    </div>

    <div class="icons__item" data-name="icon-bfc-icon-font-28">
      <i class="icon icon-bfc-icon-font-28"></i> icon-bfc-icon-font-28
    </div>

    <div class="icons__item" data-name="icon-bfc-icon-font-29">
      <i class="icon icon-bfc-icon-font-29"></i> icon-bfc-icon-font-29
    </div>

    <div class="icons__item" data-name="icon-bfc-icon-font-30">
      <i class="icon icon-bfc-icon-font-30"></i> icon-bfc-icon-font-30
    </div>

    <div class="icons__item" data-name="icon-bfc-icon-font-31">
      <i class="icon icon-bfc-icon-font-31"></i> icon-bfc-icon-font-31
    </div>

    <div class="icons__item" data-name="icon-bfc-icon-font-32">
      <i class="icon icon-bfc-icon-font-32"></i> icon-bfc-icon-font-32
    </div>

    <div class="icons__item" data-name="icon-bfc-icon-font-33">
      <i class="icon icon-bfc-icon-font-33"></i> icon-bfc-icon-font-33
    </div>

    <div class="icons__item" data-name="icon-bfc-icon-font-34">
      <i class="icon icon-bfc-icon-font-34"></i> icon-bfc-icon-font-34
    </div>

    <div class="icons__item" data-name="icon-bfc-icon-font-35">
      <i class="icon icon-bfc-icon-font-35"></i> icon-bfc-icon-font-35
    </div>

    <div class="icons__item" data-name="icon-bfc-icon-font-36">
      <i class="icon icon-bfc-icon-font-36"></i> icon-bfc-icon-font-36
    </div>

    <div class="icons__item" data-name="icon-bfc-icon-font-37">
      <i class="icon icon-bfc-icon-font-37"></i> icon-bfc-icon-font-37
    </div>

    <div class="icons__item" data-name="icon-bfc-icon-font-38">
      <i class="icon icon-bfc-icon-font-38"></i> icon-bfc-icon-font-38
    </div>

    <div class="icons__item" data-name="icon-bfc-icon-font-39">
      <i class="icon icon-bfc-icon-font-39"></i> icon-bfc-icon-font-39
    </div>

    <div class="icons__item" data-name="icon-bfc-icon-font-40">
      <i class="icon icon-bfc-icon-font-40"></i> icon-bfc-icon-font-40
    </div>

    <!-- <div class="icons__item" data-name="icon-bfc-icon-font-41">
      <i class="icon icon-bfc-icon-font-41"></i> icon-bfc-icon-font-41
    </div>

    <div class="icons__item" data-name="icon-bfc-icon-font-42">
      <i class="icon icon-bfc-icon-font-42"></i> icon-bfc-icon-font-42
    </div> -->

    <div class="icons__item" data-name="icon-bfc-icon-font-43">
      <i class="icon icon-bfc-icon-font-43"></i> icon-bfc-icon-font-43
    </div>

    <!-- <div class="icons__item" data-name="icon-bfc-icon-font-44">
      <i class="icon icon-bfc-icon-font-44"></i> icon-bfc-icon-font-44
    </div>

    <div class="icons__item" data-name="icon-bfc-icon-font-45">
      <i class="icon icon-bfc-icon-font-45"></i> icon-bfc-icon-font-45
    </div> -->

    <div class="icons__item" data-name="icon-bfc-icon-font-46">
      <i class="icon icon-bfc-icon-font-46"></i> icon-bfc-icon-font-46
    </div>

    <div class="icons__item" data-name="icon-bfc-icon-font-47">
      <i class="icon icon-bfc-icon-font-47"></i> icon-bfc-icon-font-47
    </div>

    <div class="icons__item" data-name="icon-bfc-icon-font-48">
      <i class="icon icon-bfc-icon-font-48"></i> icon-bfc-icon-font-48
    </div>

  </div>



</div>
