<div class="row">
	<div class="col-sm-12 col-md-8">
		<ul class="list-unstyled news-listings" id="main-content" role="main">
			<li>
				<article class="row news-leader">
					<figure class="col-sm-4">
						<img src="http://placehold.it/1024x579" alt="Placeholder image" class="img-responsive">
					</figure>
					<div class="col-sm-8">
						<header><h2 class="margin-top-zero"><a href="#">Overhaul of town centre gateways to start and contractor appointed</a></h2></header>
						<p>A major project to overhaul town centre roads, car parks and gateways will start in mid-February, signalling another step forward in the extensive £240m regeneration programme...</p>
						<footer>26/2/16</footer>
					</div>
				</article>
			</li>
			<li>
				<article class="row">
					<figure class="col-sm-4">
						<img src="http://placehold.it/1024x579" alt="Placeholder image" class="img-responsive">
					</figure>
					<div class="col-sm-8">
						<header><h3 class="margin-top-zero"><a href="#">Participation among 16 to 17 year olds in Bracknell Forest increases</a></h3></header>
						<p>Fusce vel dui. Donec id justo. Etiam ultricies nisi vel augue. Etiam ultricies nisi vel augue.
							Ut non enim eleifend felis pretium feugiat. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos hymenaeos.
						</p>
						<footer>26/2/16</footer>
					</div>
				</article>
			</li>
			<li>
				<article class="row">
					<figure class="col-sm-4 text-center">
						<img src="http://placehold.it/1024x579" alt="Placeholder image" class="img-responsive">
						<figcaption class="sr-only">
							Bracknell Forest Council
						</figcaption>
					</figure>
					<div class="col-sm-8">
						<span class="label label-archive">Archived</span>
						<header><h3 class="margin-top-zero"><a href="#">Planning permission approved for work on Station Green</a></h3></header>
						<p>Fusce vel dui. Donec id justo. Etiam ultricies nisi vel augue. Etiam ultricies nisi vel augue.
							Ut non enim eleifend felis pretium feugiat. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos hymenaeos.
						</p>
						<footer>26/2/16</footer>
					</div>
				</article>
			</li>
		</ul>
	</div>
</div>