<div class="col-sm-6 green-top block_no-pad">
  <h2 class="h2-small">Related links</h2>
  <ul class="list-unstyled">
    <li><a href="">Lorem ipsum dolor</a></li>
    <li><a href="">Lorem ipsum dolor</a></li>
    <li><a href="">Lorem ipsum dolor</a></li>
  </ul>
</div>
