.row:after {
    clear: both;
}

body.node-type-basic section .content,
body.page-help .view-help {
  padding-top: 25px;
}

.pane-home-feature-panel-pane-1 {
  .no-pad {
    margin-right: -15px;
  }
}
