.node-type-guide-section section.col-sm-12 {
  padding-left: 0px;
}

.guide-navigation-primary {
  padding: 25px 0;
  @extend .full-width;
  @extend .grey-x-light;
}

@media only screen and (min-width: 768px) {
  .guide-navigation-primary ol.menu.nav, .guide-nav {
    column-count: 2;
    column-gap: 30px;
    list-style-type:decimal!important;
  }
}
.guide-navigation-primary .nav {
  list-style-type:decimal!important;
  list-style-position: inside!important;
}

.guide-navigation-primary .nav li {
  line-height: 1em;
  vertical-align: top;
  display: block!important;
  color: $textBlack!important;
}

.guide-navigation-primary .nav > li > a {
  padding-left: 0px!important;
  display: list-item;

}

.guide-navigation-primary .nav > li > a:after {
  clear: both;
}

.guide-navigation-primary .nav > li > a:hover,
.guide-navigation-primary .nav > li > a:focus {
  text-decoration: none;
  background-color: $greyExtraLight;
  border-radius: $border-radius-base;
}

.guide-navigation-secondary .page-links .btn {
  background-color: $white;
  color: $slateBlue;

  &:hover {
    background-color: $greyExtraLight;
    color: $bracknellBlack;
  }
}

.guide-navigation-secondary .page-links {
  width:100%;
  display: inline-block;

  @media (max-width: 768px) {
    width: 100%;
    display: block;
  }

  &.page-previous {
    float: left;
  }

  &.page-next {
    float: right;
  }
}

.guide-navigation-secondary .page-links .page-previous {
  text-align: left;
  float: left;

  @media (max-width: 768px) {
    width: 100%;
  }
}

.guide-navigation-secondary .page-links .page-next {
  text-align: right;
  float: right;

  @media (max-width: 768px) {
    width: 100%;
  }
}

.guide-navigation-secondary .page-links .page-previous .theme-icon-previous:before,
.guide-navigation-secondary .page-links .page-next .theme-icon-next:before {
  display: inline;
  vertical-align: top;
  line-height: 0.7!important;
  font-size: $font-size-13;
}

.guide-navigation-secondary .page-links .page-previous .theme-icon-previous{
  padding:0;
}

.guide-navigation-secondary .page-links .page-next .theme-icon-next {
  margin:0 0;
}

.guide-navigation-secondary .page-links span.pagination-label{
  font-size: $font-size-20;
}

.guide-navigation-secondary .page-links span.pagination-title-pre {
  padding-left: 40px;
}

.guide-navigation-secondary .page-links span.pagination-title-next {
  padding-right: 40px;
}

body.node-type-guide-section {
  #page-header {
    @extend .full-width;
    @extend .grey-x-light;
  }
}

ol.menu.nav {
  counter-reset: item;
}

.guide-navigation-primary ol.menu.nav > li.leaf {
  list-style: decimal inside none;
  display:inline-block;
}

.guide-navigation-primary ol.menu.nav > li.leaf:before {
  display: inline-block;
  content: counter(item);
  counter-increment: item;
}

.guide-navigation-primary .nav > li > a {
  display: inline-block;
  margin-left: 10px;
}