#main-nav {
  clear: both;

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  .nav-item {
    @include gridRows(3,1%);
    display: inline-block;
    vertical-align: top;

    @media (max-width: $screen-md) {
      @include gridRows(2,1%);
    }

    @media (max-width: $screen-xs) {
      @include gridRows(1,1%);
    }
  }
}
