<ul class="global-footer-links">
  <li><a href="#">Contact us</a></li>
  <li><a href="#">Terms and conditions</a></li>
  <li><a href="#">Accessibility</a></li>
  <li><a href="#">Languages</a></li>
  <li><a href="#">GOV.UK</a></li>
</ul>
