<button type="button" id="open-menu" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bracknell-topnav" aria-expanded="false">
  <span class="navbar-toggle-inner">
    <span class="sr-only">Toggle navigation</span>
    <span class="menu-icon pull-left">Menu</span>
    <span class="icon-bars-wrap pull-left">
      <span class="icon-bar top"></span>
      <span class="icon-bar centre"></span>
      <span class="icon-bar bottom"></span>
    </span>
  </span>
</button>
