<h2>Various differing ways to utilise <code>button</code> element /<code>.btn</code> class</h2>
<p><strong>Class: <code>.btn.btn-default</code> - multiple applications</strong></p>
<button class="btn btn-default" type="submit">Button element</button>
<a class="btn btn-default" href="#" role="button">Anchor/link with .btn.btn-x class</a>
<input class="btn btn-default" type="button" value="Input with .btn.btn-x class">
<input class="btn btn-default" type="submit" value="Submit with .btn.btn-x class">