<button href="#" class="prompt-button" role="button">
	<span class="prompt-text">Listen to this page</span>
	<span class="icon-bfc-icon-font-37"></span>
</button>
<button href="#" class="prompt-button" role="button">
	<span class="prompt-text">Easy read version</span>
	<span class="icon-bfc-icon-font-36"></span>
</button>