<p class="lead">Welcome to the "Pattern Library" and "GEL" for Bracknell Forest Council's new website, brought to you by the Digital Services team.</p>
<p>This is currently a work in progress and we are constantly adding new elements and revising those that already exist in order to bring a clean and consistent look and feel to the council's websites.</p>
