<div class="container block-30 hide-print">
	<div class="row no-pad">
		<div class="col-md-12 col-sm-12 green-top-twopx socials socials-in-page block_no-pad">
			<p class="share-page pull-left">Share this page</p>
			{{> deesonpartials-social-icons-in-page}}
		</div>
	</div>
</div>
