<ul class="sg-fonts">
  {{#fonts}}
    <li>
      SASS Variable: <code>{{name}}</code> : <span style="font-family: {{value}};">{{value}}</span>
      <ul>
        <li>Value: <code>{{value}}</code></li>
        <li>Example: <span style="font-family: {{value}};">The quick brown fox jumps over the lazy dog.</span></li>
      </ul>
    </li>
  {{/fonts}}
</ul>
