h1 {
  font-size: $font-size-21;
}
h2 {
  font-size: $font-size-13;
}
h3 {
  font-size: $font-size-10;
}
h4 {
  font-size: $font-size-08;
}
h5 {
  font-size: $font-size-06;
}
h6 {
  font-size: $font-size-05;
}
