<table class="table" summary="A table detailing the amount of council tax payable per year for each valuation band in Binfield.">
	<thead>
	<tr>
		<th>Valuation band</th>
		<th>Amount payable 2016/17</th>
		<th>Amount payable 2015/16</th>
		<th>Amount payable 2014/15</th>
	</tr>
	</thead>
	<tbody>
	<tr>
		<td>A</td>
		<td>939.94</td>
		<td>906.04</td>
		<td>903.28</td>
	</tr>
	<tr>
		<td>B</td>
		<td>1,096.60</td>
		<td>1,057.04</td>
		<td>1,053.82</td>
	</tr>
	<tr>
		<td>C</td>
		<td>1,253.26</td>
		<td>1,208.05</td>
		<td>1,204.37</td>
	</tr>
	<tr>
		<td>D</td>
		<td>1,409.92</td>
		<td>1,359.06</td>
		<td>1,354.91</td>
	</tr>
	<tr>
		<td>E</td>
		<td>1,723.23</td>
		<td>1,661.08</td>
		<td>1,656.00</td>
	</tr>
	<tr>
		<td>F</td>
		<td>2,036.55</td>
		<td>1,963.09</td>
		<td>1,957.09</td>
	</tr>
	<tr>
		<td>G</td>
		<td>2,349.86</td>
		<td>2,265.10</td>
		<td>2,258.19</td>
	</tr>
	<tr>
		<td>H</td>
		<td>2,819.84</td>
		<td>2,718.12</td>
		<td>2,709.82</td>
	</tr>
	</tbody>
</table>