<p class="alert-boxout">Alert: <br>Dolor sit amet, <a href="">with a generic link</a>.
  Accusantium commodi deserunt eius, et fugit iusto nemo, nostrum numquam odit, omnis pariatur qui quidem quos suscipit ut.
  Amet animi at cupiditate doloremque ducimus, eos fugiat hic iste minima mollitia necessitatibus nihil officiis pariatur,
  quae quisquam ratione sapiente suscipit vero vitae voluptatum.</p>
