<div class="alert alert-info " role="alert">
    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    {{> atoms-button-beta}}
This is our beta website. <a href=#">Your feedback</a> will help us improve it. <a href="#">Find out more about this site</a>.
</div>
