<div class="icons-container">

  <h3>Theme Icons</h3>

  <div class="icons-demo" id="icons">
    <% for (var glyphIdx = 0; glyphIdx < glyphs.length; glyphIdx++) { var glyph = glyphs[glyphIdx] %>
    <div class="icons__item" data-name="<%= glyph %>">
      <i class="<%= baseClass %> <%= classPrefix %><%= glyph %>"></i> <%= classPrefix %><%= glyph %>
    </div>
    <% } %>
  </div>

  <% if (addLigatures) { %>
  <div class="ligature-icons" style="display:none">
    <% for (var glyphIdx = 0; glyphIdx < glyphs.length; glyphIdx++) { var glyph = glyphs[glyphIdx]; %>
    <%= glyph %>
    <% } %>
  </div>
  <% } %>

</div>
