// Slogan.

.slogan {
  @include applyColour(background-color, color);

  .slogan-content {
    padding: 10px 15px 15px;

    @include breakpoint($screen-md) {
      @include constrained;
    }

    .slogan-inner {
      display: flex;
      justify-content: space-between;
      padding: 10px 0;

      @media (min-width: $screen-sm) {
        flex-direction: row;
        align-items: center;
      }

      @media (max-width: $screen-xs-max) {
        flex-direction: column;
      }

      .slogan-top, 
      .slogan-bottom {
        display: flex;
        flex-direction: row;
        align-items: center;
        -ms-flex: 0 1 auto;

        @media (min-width: $screen-sm) {
          padding: 10px;
        }

        @media (max-width: $screen-xs-max) {
          padding: 10px 0;
        }
      }

      .slogan-top {
        width: 100%;
      }
    }
  }

  .slogan-content-has-strapline {
    .slogan-inner {
      @include breakpoint($screen-md) {
        align-items: center;
      }
    }
  }

  .slogan-image {
    @media (max-width: $screen-xs-max) {
      max-width: 80px;
    }

    @media (min-width: $screen-sm) {
      max-width: 100px;
    }

    .img-responsive {
      margin-bottom: 0;
    }
  }

  .slogan-text {
    flex: 1;
    padding: 0 10px;
  }

  .slogan-title,
  .slogan-strapline {
    line-height: 1.2em;
    margin: 0;
    font-size: 2.3em;

    @media (max-width: $screen-xs-max) {
      font-size: 1.9em;
    }

    @media (max-width: ($screen-xs - 1)) {
      font-size: 1.3em;
    }

    &.slogan-strapline {
      font-weight: 300;
    }

    &.slogan-title {
      font-weight: 700;
    }
  }

  .slogan-call-to-action {
    a {
      @extend .btn;
      display: block;
      background-color: $slogan-button-background-color;
      color: $slogan-button-text-color;
      font-weight: 600;
      white-space: nowrap;
      margin: 0;
    }
  }
}
