<div class="col-sm-12 col-md-8">
	<div class="panel panel-default">
		<div class="panel-body">
			<ul class="list-inline list-unstyled margin-bot-none">
				<li><span class="text-step">1</span> <b>Your details</b></li>
				<li><span class="text-muted"><span class="text-step">2</span> Your bank details </span></li>
				<li><span class="text-muted"><span class="text-step">3</span> Confirmation</span></li>
			</ul>
		</div>
	</div>
	<p>Complete this form if you would like to pay your council tax by direct debit or if you would like to change your direct debit details.</p>
	<p><strong>You will need the following information to complete the form:</strong></p>
	<ul>
		<li>Your council tax account number – it will start with '2'.
			<a href="http://www.bracknell-forest.gov.uk/">Find your council tax account number</a>
		</li>
		<li>You bank name and branch</li>
		<li>Your bank sort code</li>
		<li>Your bank account number</li>
		<li>Your bank account holder(s) name(s)</li>
	</ul>
	<form class="row" lpformnum="1">
		<div class="form-group col-sm-12">
			<label for="exampleInputEmail1">Title</label>
			<select class="form-control input-lg">
				<option selected="selected">Please select</option>
				<option>Mr</option>
				<option>Mrs</option>
				<option>Miss</option>
				<option>Ms</option>
				<option>Dr</option>
			</select>
		</div>

		<div class="form-group has-success col-sm-12">
			<div class="row">
				<div class="col-xs-9">
					<label for="exampleInputEmail1">First name</label>
					<input type="text" class="form-control input-lg" id="exampleInputl1" placeholder="">
				</div>
				<div class="col-xs-3 text-danger div-required">
					Required
				</div>
			</div>
			<div class="row no-pad">
				<div class="help-block alert alert-warning alert-dismissible fade in" role="alert">
					<button type="button" class="close" data-dismiss="alert" aria-label="Close">
						<span class="icon-bfc-icon-font-07"></span>
					</button>
					This is a success message. <br><strong>You have completed an action successfully.</strong>
				</div>
			</div>
		</div>
		<div class="form-group has-warning col-sm-12">
			<div class="row">
				<div class="col-xs-9">
					<label for="exampleInputEmail1">Last name</label>
					<input type="text" class="form-control input-lg" id="exampleInputl1" placeholder="">
				</div>
				<div class="col-xs-3 text-danger div-required">
					Required
				</div>
			</div>
			<div class="row no-pad">
				<div class="help-block alert alert-warning alert-dismissible fade in" role="alert">
					<button type="button" class="close" data-dismiss="alert" aria-label="Close">
						<span class="icon-bfc-icon-font-07"></span>
					</button>
					This is a warning message. <br><strong>It won’t stop you from progressing, but caution should be taken.</strong>
				</div>
			</div>
		</div>
		<div class="form-group has-error col-sm-12">
			<div class="row">
				<div class="col-xs-9">
					<label for="exampleInputEmail1">House number/name</label>
					<input type="text" class="form-control input-lg" id="exampleInputl1" placeholder="">
				</div>
				<div class="col-xs-3 text-danger div-required">

				</div>
			</div>
			<div class="row no-pad">
				<div class="help-block alert alert-warning alert-dismissible fade in" role="alert">
					<button type="button" class="close" data-dismiss="alert" aria-label="Close">
						<span class="icon-bfc-icon-font-07"></span>
					</button>
					This is a danger message.<br><strong>This indicates a negative action or error, try re-submitting.</strong>
				</div>
			</div>
		</div>
		<div class="form-group has-feedback col-sm-12">
			<div class="row">
				<div class="col-xs-9">
					<label for="exampleInputEmail1">Flat number</label>
					<input type="text" class="form-control input-lg" id="exampleInputl1" placeholder="">
				</div>
				<div class="col-xs-3 text-danger div-required">

				</div>
			</div>
			<div class="row no-pad">
				<div class="help-block alert alert-warning alert-dismissible fade in" role="alert">
					<button type="button" class="close" data-dismiss="alert" aria-label="Close">
						<span class="icon-bfc-icon-font-07"></span>
					</button>
					This is an informational message.<br><strong>It’s worth noticing, but it won’t stop you progressing.</strong>
				</div>
			</div>
		</div>
		<div class="form-group col-sm-12 has-default">
			<div class="row">
				<div class="col-xs-9">
					<label for="exampleInputEmail1">Street</label>
					<input type="text" class="form-control input-lg" id="exampleInputl1" placeholder="">
				</div>
				<div class="col-xs-3 text-danger div-required">
					Required
				</div>
			</div>
			<div class="row no-pad">
				<div class="help-block alert alert-warning alert-dismissible fade in" role="alert">
					<button type="button" class="close" data-dismiss="alert" aria-label="Close">
						<span class="icon-bfc-icon-font-07"></span>
					</button>
					This is a default alert. <br> <strong>The least prominent which can be ignored easily.</strong>
				</div>
			</div>
		</div>
		<div class="form-group col-sm-12">
			<div class="row">
				<div class="col-xs-9">
					<label for="exampleInputEmail1">Town</label>
					<input type="text" class="form-control input-lg" id="exampleInputl1" placeholder="">
				</div>
				<div class="col-xs-3 text-danger div-required">
					Required
				</div>
			</div>
		</div>
		<div class="form-group col-sm-12">
			<div class="row">
				<div class="col-xs-9">
					<label for="exampleInputEmail1">Postcode</label>
					<input type="text" class="form-control input-lg" id="exampleInputl1" placeholder="">
				</div>
				<div class="col-xs-3 text-danger div-required">
					Required
				</div>
			</div>
		</div>
		<div class="form-group col-sm-12">
			<div class="row">
				<div class="col-xs-9">
					<label for="exampleInputEmail1">Telephone number</label>
					<input type="number" class="form-control input-lg" id="exampleInputl1" placeholder="">
				</div>
				<div class="col-xs-3 text-danger div-required">
					Required
				</div>
			</div>
		</div>
		<div class="form-group col-sm-12">
			<div class="row">
				<div class="col-xs-9">
					<label for="exampleInputEmail1">Email address</label>
					<input type="email" class="form-control input-lg" id="exampleInputl1" placeholder="">
				</div>
				<div class="col-xs-3 text-danger div-required">

				</div>
			</div>
		</div>
		<div class="form-group col-sm-12">
			<div class="row">
				<div class="col-sm-12">
					<h3>Council tax details</h3>
				</div>
				<div class="col-xs-9">
					<label for="exampleInputEmail1">Council tax account number</label>
					<input type="number" class="form-control input-lg" id="exampleInputl1" placeholder="">
					<span id="helpBlock" class="help-block">You can find this in the top-right corner of your council tax notification – it is 11 numbers long and <w></w>ill start with '2'</span>
				</div>
				<div class="col-xs-3 text-danger div-required">
					Required
				</div>
			</div>
		</div>
		<div class="form-group col-sm-12">
			<label for="exampleInputEmail1">Payment installments</label>
			<div class="radio">
				<label>
					<input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked="">
					12 monthly installments
				</label>
			</div>
			<div class="radio">
				<label>
					<input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
					10 monthly installments
				</label>
			</div>
			<span id="helpBlock" class="help-block">Council tax is payable in ten or twelve monthly instalments in a complete financial year. </span>
		</div>
		<div class="form-group col-sm-12">
			<label for="exampleInputEmail1">Payment date</label>
			<div class="radio">
				<label>
					<input type="radio" name="optionsRadios2" id="optionsRadios1" value="option1" checked="">
					1st of the month
				</label>
			</div>
			<div class="radio">
				<label>
					<input type="radio" name="optionsRadios2" id="optionsRadios2" value="option2">
					20th of the month
				</label>
			</div>
			<span id="helpBlock" class="help-block">Payments are usually due on the 1st of each month starting in April with the number of monthly instalments reducing as the year progresses. However, if you choose to pay by Direct Debit you will have the option to pay on the 1st or the 20th of each month.</span>
		</div>
		<div class="col-sm-12">
			<h3 class="margin-top-lg">Data protection statement</h3>
			<p>The information you have provided will be used for the purpose of this service only. If the information on this form relates to an organisation which is providing a service on behalf of the Council it may be shared with that organisation in order to deal with your enquiry or complaint. Otherwise we will not disclose any information about you to outside organisations or third parties without your consent, unless there is a legal requirement to do so.</p>
			<button type="submit" class="btn btn-lg btn-primary margin-top-lg">Continue</button>
		</div>
	</form>
</div>