<div class="icons-container">

  <h3>Theme Icons</h3>

  <div class="icons-demo" id="icons">
    
    <div class="icons__item" data-name="arrow-left">
      <i class="icon theme-icon-arrow-left"></i> theme-icon-arrow-left
    </div>
    
    <div class="icons__item" data-name="arrow-right">
      <i class="icon theme-icon-arrow-right"></i> theme-icon-arrow-right
    </div>
    
    <div class="icons__item" data-name="book">
      <i class="icon theme-icon-book"></i> theme-icon-book
    </div>
    
    <div class="icons__item" data-name="briefcase">
      <i class="icon theme-icon-briefcase"></i> theme-icon-briefcase
    </div>
    
    <div class="icons__item" data-name="builder">
      <i class="icon theme-icon-builder"></i> theme-icon-builder
    </div>
    
    <div class="icons__item" data-name="car">
      <i class="icon theme-icon-car"></i> theme-icon-car
    </div>
    
    <div class="icons__item" data-name="certificate">
      <i class="icon theme-icon-certificate"></i> theme-icon-certificate
    </div>
    
    <div class="icons__item" data-name="circle-cross">
      <i class="icon theme-icon-circle-cross"></i> theme-icon-circle-cross
    </div>
    
    <div class="icons__item" data-name="circle-dark-exclamation">
      <i class="icon theme-icon-circle-dark-exclamation"></i> theme-icon-circle-dark-exclamation
    </div>
    
    <div class="icons__item" data-name="circle-dark-question">
      <i class="icon theme-icon-circle-dark-question"></i> theme-icon-circle-dark-question
    </div>
    
    <div class="icons__item" data-name="circle-tick">
      <i class="icon theme-icon-circle-tick"></i> theme-icon-circle-tick
    </div>
    
    <div class="icons__item" data-name="council-building">
      <i class="icon theme-icon-council-building"></i> theme-icon-council-building
    </div>
    
    <div class="icons__item" data-name="council-tax">
      <i class="icon theme-icon-council-tax"></i> theme-icon-council-tax
    </div>
    
    <div class="icons__item" data-name="cross">
      <i class="icon theme-icon-cross"></i> theme-icon-cross
    </div>
    
    <div class="icons__item" data-name="download">
      <i class="icon theme-icon-download"></i> theme-icon-download
    </div>
    
    <div class="icons__item" data-name="envelope">
      <i class="icon theme-icon-envelope"></i> theme-icon-envelope
    </div>
    
    <div class="icons__item" data-name="external-link">
      <i class="icon theme-icon-external-link"></i> theme-icon-external-link
    </div>
    
    <div class="icons__item" data-name="face-happy">
      <i class="icon theme-icon-face-happy"></i> theme-icon-face-happy
    </div>
    
    <div class="icons__item" data-name="face-neutral">
      <i class="icon theme-icon-face-neutral"></i> theme-icon-face-neutral
    </div>
    
    <div class="icons__item" data-name="face-sad">
      <i class="icon theme-icon-face-sad"></i> theme-icon-face-sad
    </div>
    
    <div class="icons__item" data-name="facebook">
      <i class="icon theme-icon-facebook"></i> theme-icon-facebook
    </div>
    
    <div class="icons__item" data-name="family">
      <i class="icon theme-icon-family"></i> theme-icon-family
    </div>
    
    <div class="icons__item" data-name="flashing-light">
      <i class="icon theme-icon-flashing-light"></i> theme-icon-flashing-light
    </div>
    
    <div class="icons__item" data-name="heart">
      <i class="icon theme-icon-heart"></i> theme-icon-heart
    </div>
    
    <div class="icons__item" data-name="house">
      <i class="icon theme-icon-house"></i> theme-icon-house
    </div>
    
    <div class="icons__item" data-name="instagram">
      <i class="icon theme-icon-instagram"></i> theme-icon-instagram
    </div>
    
    <div class="icons__item" data-name="leaves">
      <i class="icon theme-icon-leaves"></i> theme-icon-leaves
    </div>
    
    <div class="icons__item" data-name="licence">
      <i class="icon theme-icon-licence"></i> theme-icon-licence
    </div>
    
    <div class="icons__item" data-name="menu">
      <i class="icon theme-icon-menu"></i> theme-icon-menu
    </div>
    
    <div class="icons__item" data-name="mortarboard">
      <i class="icon theme-icon-mortarboard"></i> theme-icon-mortarboard
    </div>
    
    <div class="icons__item" data-name="next">
      <i class="icon theme-icon-next"></i> theme-icon-next
    </div>
    
    <div class="icons__item" data-name="previous">
      <i class="icon theme-icon-previous"></i> theme-icon-previous
    </div>
    
    <div class="icons__item" data-name="printer">
      <i class="icon theme-icon-printer"></i> theme-icon-printer
    </div>
    
    <div class="icons__item" data-name="question">
      <i class="icon theme-icon-question"></i> theme-icon-question
    </div>
    
    <div class="icons__item" data-name="recycling-bin">
      <i class="icon theme-icon-recycling-bin"></i> theme-icon-recycling-bin
    </div>
    
    <div class="icons__item" data-name="recycling">
      <i class="icon theme-icon-recycling"></i> theme-icon-recycling
    </div>
    
    <div class="icons__item" data-name="rubbish">
      <i class="icon theme-icon-rubbish"></i> theme-icon-rubbish
    </div>
    
    <div class="icons__item" data-name="search">
      <i class="icon theme-icon-search"></i> theme-icon-search
    </div>
    
    <div class="icons__item" data-name="speaker">
      <i class="icon theme-icon-speaker"></i> theme-icon-speaker
    </div>
    
    <div class="icons__item" data-name="speech-bubbles">
      <i class="icon theme-icon-speech-bubbles"></i> theme-icon-speech-bubbles
    </div>
    
    <div class="icons__item" data-name="statistics">
      <i class="icon theme-icon-statistics"></i> theme-icon-statistics
    </div>
    
    <div class="icons__item" data-name="swimming">
      <i class="icon theme-icon-swimming"></i> theme-icon-swimming
    </div>
    
    <div class="icons__item" data-name="text-size">
      <i class="icon theme-icon-text-size"></i> theme-icon-text-size
    </div>
    
    <div class="icons__item" data-name="trees">
      <i class="icon theme-icon-trees"></i> theme-icon-trees
    </div>
    
    <div class="icons__item" data-name="triangle-down">
      <i class="icon theme-icon-triangle-down"></i> theme-icon-triangle-down
    </div>
    
    <div class="icons__item" data-name="triangle-up">
      <i class="icon theme-icon-triangle-up"></i> theme-icon-triangle-up
    </div>
    
    <div class="icons__item" data-name="twitter">
      <i class="icon theme-icon-twitter"></i> theme-icon-twitter
    </div>
    
    <div class="icons__item" data-name="user">
      <i class="icon theme-icon-user"></i> theme-icon-user
    </div>
    
    <div class="icons__item" data-name="voting">
      <i class="icon theme-icon-voting"></i> theme-icon-voting
    </div>
    
    <div class="icons__item" data-name="wallet">
      <i class="icon theme-icon-wallet"></i> theme-icon-wallet
    </div>
    
    <div class="icons__item" data-name="youtube">
      <i class="icon theme-icon-youtube"></i> theme-icon-youtube
    </div>
    
  </div>

  

</div>
