  <a href="index.html"  class="navbar-brand-wrap">
     <span class="sr-only">Bracknell Forest Council</span>
     <img class="img-responsive hide-ie8" src="/images/logo/Bracknell-logo_B.svg" alt="Bracknell Forest Council">
     <img class="img-responsive show-ie8" src="/images/logo/Bracknell-logo_B.png" alt="Bracknell Forest Council">
  </a>
