/*
* Content page custom table
*/

.table__yes-no {
  border: 1px solid $table-border-color;

  thead {
    background: $table-thead-bg-color;

    tr > th {
      border-bottom: 1px solid $table-heading-border-color;

      &:first-child {
        border-right: 1px solid $table-heading-border-color;
      }
    }
  }

  tbody > tr > td {
    border-top: 0;
    padding: 5px 10px 5px 35px;
    font-size: $font-size-03;

    &:first-child {
      border-right: 1px solid $table-cell-border-color;
      background: url('../images/tick.png') 10px 16px no-repeat;
    }

    &:last-child {
      background: url('../images/cross.png') 10px 16px no-repeat;
    }
  }
}

.page-node-39,
.page-node-34,
.page-node-68 {
  .tablefield {
    @extend .table__yes-no;
  }

  td {
    &:empty {
      background: none !important;
    }
  }
}
