
  <!--DO NOT REMOVE-->
  {{{ patternLabFoot }}}

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>

  <!-- JS files from Bower dependencies will be added here -->
  <!-- bower:js -->
  <!-- endbower -->

  <!-- JS files from pattern-lab-assets.yml will be added here -->
  <!-- injector:js -->
  <script src="../../../../js/bracknell_theme_base.scripts-es6.js"></script>
  <script src="../../../../js/bracknell_theme_base.scripts.js"></script>
  <script src="../../../../js/pattern-lab/jquery.gridder.min.js"></script>
  <script src="../../../../js/pattern-lab/pattern-lab.js"></script>
  <!-- endinjector -->

  </body>
</html>
