<p class="lead">TODO: Add guidance for third parties using patterns from our Pattern Lab.</p>
<p>The GEL should cover most things, however advanced usage instructions for Pattern Lab may be useful here.</p>
