{{> deesonpartials-header}}

<div class="container" id="main-content" role="main">
	<div class="row">
		<div class="col-sm-12">
			<h1 class="margin-top-zero">Council Tax</h1>
		</div>
	</div>
</div>

<div class="container-fluid green-x-light call-to-actions" role="navigation">
	<div class="container">
		<div class="row">
			<div class="col-sm-4">
				<a href="#" class="btn btn-default key-task">Pay by direct debit</a>
			</div>
			<div class="col-sm-4">
				<a href="#" class="btn btn-default key-task">Pay online</a>
			</div>
			<div class="col-sm-4">
				<a href="#" class="btn btn-default key-task">Change of circumstances</a>
			</div>
		</div>
	</div>
</div>

<div class="container-fluid block-30 grey-x-light call-to-actions sub-grid-categories" role="navigation">
	<div class="container">
		<div class="row pad-30-top">
			<div class="col-xs-12 col-sm-4 col-md-3">
				<a href="#" class="btn btn-default sub-task">Pay your council tax</a>
			</div>
			<div class="col-xs-12 col-sm-4 col-md-3">
				<a href="#" class="btn btn-default sub-task">Changes and bands</a>
			</div>
			<div class="col-xs-12 col-sm-4 col-md-3">
				<a href="#" class="btn btn-default sub-task">Who should pay</a>
			</div>
			<div class="col-xs-12 col-sm-4 col-md-3">
				<a href="#" class="btn btn-default sub-task">What council tax pays for</a>
			</div>
			<div class="col-xs-12 col-sm-4 col-md-3">
				<a href="#" class="btn btn-default sub-task">Change of circumstances</a>
			</div>
			<div class="col-xs-12 col-sm-4 col-md-3">
				<a href="#" class="btn btn-default sub-task">Council tax discount</a>
			</div>
			<div class="col-xs-12 col-sm-4 col-md-3">
				<a href="#" class="btn btn-default sub-task">Council tax exemptions</a>
			</div>
			<div class="col-xs-12 col-sm-4 col-md-3">
				<a href="#" class="btn btn-default sub-task">Trouble paying?</a>
			</div>
		</div>
	</div>
</div>

<div class="container block-30">
	<div class="row no-pad">
		<div class="col-sm-6 green-top block_no-pad">
			<h2 class="h2-small">Related links</h2>
			<ul class="list-unstyled">
				<li><a href="">Lorem ipsum dolor</a></li>
				<li><a href="">Lorem ipsum dolor</a></li>
				<li><a href="">Lorem ipsum dolor</a></li>
			</ul>
		</div>
	</div>
</div>

{{> deesonpartials-in-page-footer}}

{{> deesonpartials-global-footer}}
