{{> deesonpartials-header}}

<div class="container"id="main-content" role="main">
	<div class="row">
		<div class="col-sm-12">
			<h1 class="margin-top-zero">Instruction to pay council tax by direct debit</h1>
		</div>
	</div>
</div>

<div class="container">
	<div class="row">
		{{> deesonpartials-form-generic}}
	</div>
</div>

<div class="container">
	<!--Page related footer-->
	{{> deesonpartials-in-page-footer_page-rater}}
</div>

{{> deesonpartials-global-footer}}

{{> deesonpartials-modal}}
