<ul class="gridder gridder--wrap" role="navigation">
  <li class="gridder-list" data-griddercontent="#gridder-leisure-services">
    <a href="">
      Leisure Services
      <span class="icon-bfc-icon-font-22"></span>
    </a>
  </li>
  <li class="gridder-list" data-griddercontent="#gridder-planning-building-control">
    <a href="">
      Planning and building control
      <span class="icon-bfc-icon-font-24"></span>
    </a>
  </li>
  <li class="gridder-list" data-griddercontent="#gridder-council-tax">
    <a href="">
      Council tax
      <span class="icon-bfc-icon-font-15"></span>
    </a>
  </li>
  <li class="gridder-list" data-griddercontent="#gridder-schools-learning">
    <a href="">
      Schools and learning
      <span class="icon-bfc-icon-font-23"></span>
    </a>
  </li>
  <li class="gridder-list" data-griddercontent="#gridder-housing">
    <a href="">
      Housing
      <span class="icon-bfc-icon-font-16"></span>
    </a>
  </li>
  <li class="gridder-list" data-griddercontent="#gridder-bins-recyling">
    <a href="">
      Bins and recycling
      <span class="icon-bfc-icon-font-17"></span>
    </a>
  </li>
  <li class="gridder-list" data-griddercontent="#gridder-births-marriage-deaths">
    <a href="">
      Births, marriages and deaths
      <span class="icon-bfc-icon-font-19"></span>
    </a>
  </li>
  <li class="gridder-list" data-griddercontent="#gridder-democracy">
    <a href="">
      The council and democracy
      <span class="icon-bfc-icon-font-26"></span>
    </a>
  </li>
  <li class="gridder-list" data-griddercontent="#gridder-roads-parking-transport">
    <a href="">
      Roads, parking and transport
      <span class="icon-bfc-icon-font-20"></span>
    </a>
  </li>
  <li class="gridder-list" data-griddercontent="#gridder-health-social-care">
    <a href="">
      Health and social care
      <span class="icon-bfc-icon-font-25"></span>
    </a>
  </li>
  <li class="gridder-list" data-griddercontent="#gridder-children-family-services">
    <a href="">
      Children and family services
      <span class="icon-bfc-icon-font-21"></span>
    </a>
  </li>
  <li class="gridder-list" data-griddercontent="#gridder-business-information">
    <a href="">
      Business information
      <span class="icon-bfc-icon-font-18"></span>
    </a>
  </li>

  <!--Toggled content anchors-->
  <li class="collapse" id="services-submenu">
    <ul>
      <li class="gridder-list" data-griddercontent="#gridder-elections-voting">
        <a href="">
          Elections and voting
          <span class="icon-bfc-icon-font_Artboard-42-copy-2"></span>
        </a>
      </li>
      <li class="gridder-list" data-griddercontent="#gridder-benefits">
        <a href="">
          Benefits
          <span class="icon-bfc-icon-font-47"></span>
        </a>
      </li>
      <li class="gridder-list" data-griddercontent="#gridder-parks-countryside">
        <a href="">
          Parks and countryside
          <span class="icon-bfc-icon-font-46"></span>
        </a>
      </li>
      <li class="gridder-list" data-griddercontent="#gridder-licensing">
        <a href="">
          Licensing
          <span class="icon-bfc-icon-font_liscensing"></span>
        </a>
      </li>
      <li class="gridder-list" data-griddercontent="#gridder-libraries">
        <a href="">
          Libraries
          <span class="icon-bfc-icon_Libraries"></span>
        </a>
      </li>
      <li class="gridder-list" data-griddercontent="#gridder-street-cleaning">
        <a href="">
          Street cleaning
          <span class="icon-bfc-icon-font_street"></span>
        </a>
      </li>
      <li class="gridder-list" data-griddercontent="#gridder-crime-emergencies">
        <a href="">
          Crime and emergencies
          <span class="icon-bfc-icon-font_crimenemergancies"></span>
        </a>
      </li>
      <li class="gridder-list" data-griddercontent="#gridder-jobs">
        <a href="">
          Jobs
          <span class="icon-bfc-icon-font_Artboard-41-41"></span>
        </a>
      </li>
    </ul>
  </li>
</ul>

<!--More content button-->
<div class="col-sm-12 text-center">
  <button class="btn btn-primary" id="btn_more-services" type="button" data-toggle="collapse" data-target="#services-submenu" aria-expanded="false" aria-controls="services-submenu">
    More services <span class="icon-bfc-icon-font-11"></span>
  </button>
</div>

</div>
</div> 	<!--/row-->
</div>
<!--Gridder content-->
<div id="gridder-leisure-services" class="gridder-content">
<ul class="gridder-listwrap container">
<div class="row no-pad services-sub">
<div class="col-md-3">
  <a href="#">Coral Reef</a>
  <a href="#">The Look Out Discovery Centre</a>
</div>
<div class="col-md-3">
  <a href="#">Bracknel Leisure Centre</a>
  <a href="#">Edgbarrow Sports Centre</a>
</div>
<div class="col-md-3">
  <a href="#">Sandhurst Sports Centre</a>
  <a href="#">Downshire Golf Complex</a>
</div>
<div class="col-md-3">
  <a href="#"><strong>All leisure facilities</strong></a>
</div>
</div>
</ul>
</div>
<div id="gridder-planning-building-control" class="gridder-content">
<ul class="gridder-listwrap container">
<div class="row no-pad services-sub">
<div class="col-md-3">
  <a href="#">Planning</a>
  <a href="#">Building policy</a>
</div>
<div class="col-md-3">
  <a href="#">Building control</a>
  <a href="#">Sustainable Drainage Systems</a>
</div>
<div class="col-md-3">
  <a href="#"><strong>All planning and building control</strong></a>
</div>
<div class="col-md-3">
</div>
</div>
</ul>
</div>
<div id="gridder-council-tax" class="gridder-content">
<ul class="gridder-listwrap container">
<div class="row no-pad services-sub">
<div class="col-md-3">
  <a href="#">Paying your council tax</a>
  <a href="#">Council tax charges and bands</a>
</div>
<div class="col-md-3">
  <a href="#">Who should pay</a>
  <a href="#">Trouble paying?</a>
</div>
<div class="col-md-3">
  <a href="#">Tell us of any change in circumstances</a>
  <a href="#"><strong>All council tax</strong></a>
</div>
<div class="col-md-3">
</div>
</div>
</ul>
</div>
<div id="gridder-schools-learning" class="gridder-content">
<ul class="gridder-listwrap container">
<div class="row no-pad services-sub">
<div class="col-md-3">
  <a href="#">Schools</a>
</div>
<div class="col-md-3">
  <a href="#">Nurseries and pre-schools</a>
</div>
<div class="col-md-3">
  <a href="#">Adult learning</a>
</div>
<div class="col-md-3">
  <a href="#"><strong>All schools and learning</strong></a>
</div>
</div>
</ul>
</div>
<div id="gridder-housing" class="gridder-content">
<ul class="gridder-listwrap container">
<div class="row no-pad services-sub">
<div class="col-md-3">
  <a href="#">Looking for housing</a>
  <a href="#">Letting your home</a>
</div>
<div class="col-md-3">
  <a href="#">Help staying in your home</a>
  <a href="#">Housing benefit</a>
</div>
<div class="col-md-3">
  <a href="#"><strong>All housing services</strong></a>
</div>
<div class="col-md-3">
</div>
</div>
</ul>
</div>
<div id="gridder-bins-recyling" class="gridder-content">
<ul class="gridder-listwrap container">
<div class="row no-pad services-sub">
<div class="col-md-3">
  <a href="#">What goes in my bin?</a>
  <a href="#">A-Z of waste recycling</a>
</div>
<div class="col-md-3">
  <a href="#">Find my collection day</a>
  <a href="#">Recycling incentive scheme</a>
</div>
<div class="col-md-3">
  <a href="#">Bin collection</a>
  <a href="#">The tip</a>
</div>
<div class="col-md-3">
  <a href="#">Recycling sites</a>
  <a href="#"><strong>All bins and recycling services</strong></a>
</div>
</div>
</ul>
</div>
<div id="gridder-births-marriage-deaths" class="gridder-content">
<ul class="gridder-listwrap container">
<div class="row no-pad services-sub">
<div class="col-md-3">
  <a href="#">Births</a>
  <a href="#">Marriages</a>
</div>
<div class="col-md-3">
  <a href="#">Deaths</a>
  <a href="#">Nationality checking</a>
</div>
<div class="col-md-3">
  <a href="#"><strong>All births, marriages and deaths services</strong></a>
</div>
<div class="col-md-3">
</div>
</div>
</ul>
</div>
<div id="gridder-democracy" class="gridder-content">
<ul class="gridder-listwrap container">
<div class="row no-pad services-sub">
<div class="col-md-3">
  <a href="#">Get in touch</a>
  <a href="#">Council structure</a>
  <a href="#">Finance, performance and transparency</a>
</div>
<div class="col-md-3">
  <a href="#">Councillors and council officers</a>
  <a href="#">Decision making</a>
  <a href="#">The Mayor</a>
</div>
<div class="col-md-3">
  <a href="#">Scrutiny</a>
  <a href="#">Data protection and FOI</a>
  <a href="#">Strategies, plans and policies</a>
</div>
<div class="col-md-3">
  <a href="#"><strong>All council and democracy services</strong></a>
</div>
</div>
</ul>
</div>
<div id="gridder-roads-parking-transport" class="gridder-content">
<ul class="gridder-listwrap container">
<div class="row no-pad services-sub">
<div class="col-md-3">
  <a href="#">Bus passes</a>
  <a href="#">Plan your journey</a>
</div>
<div class="col-md-3">
  <a href="#">Travel and public transport</a>
  <a href="#">Roads</a>
</div>
<div class="col-md-3">
  <a href="#">Abandoned vehicles</a>
  <a href="#">Parking</a>
</div>
<div class="col-md-3">
  <a href="#">Parking fines</a>
  <a href="#"><strong>All roads, parking and transport</strong></a>
</div>
</div>
</ul>
</div>
<div id="gridder-health-social-care" class="gridder-content">
<ul class="gridder-listwrap container">
<div class="row no-pad services-sub">
<div class="col-md-3">
  <a href="#">Care and support</a>
  <a href="#">Blue badges</a>
  <a href="#">Children with disabilities</a>
</div>
<div class="col-md-3">
  <a href="#">Learning disabilities</a>
  <a href="#">Autism</a>
  <a href="#">Mental health and wellbeing</a>
</div>
<div class="col-md-3">
  <a href="#">Keeping children and adults safe</a>
  <a href="#">Fostering, and looked after children</a>
  <a href="#">Forestcare</a>
</div>
<div class="col-md-3">
  <a href="#"><strong>More health and social care services</strong></a>
</div>
</div>
</ul>
</div>
<div id="gridder-children-family-services" class="gridder-content">
<ul class="gridder-listwrap container">
<div class="row no-pad services-sub">
<div class="col-md-3">
  <a href="#">Childcare</a>
  <a href="#">Special education needs</a>
  <a href="#">Protecting your child</a>
</div>
<div class="col-md-3">
  <a href="#">Family information service</a>
  <a href="#">Disabilities</a>
  <a href="#">Fostering, adoption and looked after children</a>
</div>
<div class="col-md-3">
  <a href="#">Children with disabilities</a>
  <a href="#">Children's centres</a>
  <a href="#"><strong>All children and family services</strong></a>
</div>
<div class="col-md-3">
</div>
</div>
</ul>
</div>
<div id="gridder-business-information" class="gridder-content">
<ul class="gridder-listwrap container">
<div class="row no-pad services-sub">
<div class="col-md-3">
  <a href="#">Business rates</a>
  <a href="#">Bracknell Forest for Business</a>
</div>
<div class="col-md-3">
  <a href="#">Trading standards</a>
  <a href="#">Commercial property</a>
</div>
<div class="col-md-3">
  <a href="#">Tenders and contracts</a>
  <a href="#">Envoronmental health</a>
</div>
<div class="col-md-3">
  <a href="#">Business registrations</a></li>
  <a href="#"><strong>All business information</strong></a>
</div>
</div>
</ul>
</div>

<!--Toggled content-->
<div id="gridder-elections-voting" class="gridder-content">
<ul class="gridder-listwrap container">
<div class="row no-pad services-sub">
<div class="col-md-3">
  <a href="#">Elections</a>
  <a href="#">Voting</a>
</div>
<div class="col-md-3">
  <a href="#"><strong>All elections and voting</strong></a>
</div>
<div class="col-md-3">
</div>
<div class="col-md-3">
</div>
</div>
</ul>
</div>
<div id="gridder-benefits" class="gridder-content">
<ul class="gridder-listwrap container">
<div class="row no-pad services-sub">
<div class="col-md-3">
  <a href="#">Housing benefit</a>
  <a href="#">Council tax benefit</a>
</div>
<div class="col-md-3">
  <a href="#"><strong>All benefits</strong></a>
</div>
<div class="col-md-3">
</div>
<div class="col-md-3">
</div>
</div>
</ul>
</div>
<div id="gridder-parks-countryside" class="gridder-content">
<ul class="gridder-listwrap container">
<div class="row no-pad services-sub">
<div class="col-md-3">
  <a href="#">Parks to visit</a>
  <a href="#">Outdoor activities</a>
</div>
<div class="col-md-3">
  <a href="#">Events</a>
  <a href="#">Playgrounds</a>
</div>
<div class="col-md-3">
  <a href="#">Public rights of way</a>
  <a href="#">Trees</a>
</div>
<div class="col-md-3">
  <a href="#"><strong>All parks and countryside</strong></a>
</div>
</div>
</ul>
</div>
<div id="gridder-licensing" class="gridder-content">
<ul class="gridder-listwrap container">
<div class="row no-pad services-sub">
<div class="col-md-3">
  <a href="#">Do I need a license?</a>
  <a href="#">Check if someone is licensed</a>
  <a href="#">How to object to an application</a>
</div>
<div class="col-md-3">
  <a href="#">Planning an event in Bracknell Forest</a>
  <a href="#">Alcohol and entertainment licenses</a>
  <a href="#">Animal licenses</a>
</div>
<div class="col-md-3">
  <a href="#">Collection licenses</a>
  <a href="#">Taxi licenses</a>
  <a href="#">Commercial licenses</a>
</div>
<div class="col-md-3">
  <a href="#">Road and street work licenses</a>
  <a href="#"><strong>All licensing services</strong></a>
</div>
</div>
</ul>
</div>
<div id="gridder-libraries" class="gridder-content">
<ul class="gridder-listwrap container">
<div class="row no-pad services-sub">
<div class="col-md-3">
  <a href="#">Find your library</a>
  <a href="#">Joining the library</a>
</div>
<div class="col-md-3">
  <a href="#">Renew your items</a>
  <a href="#">Reserve an item</a>
</div>
<div class="col-md-3">
  <a href="#">Charges</a>
  <a href="#">Library services</a>
</div>
<div class="col-md-3">
  <a href="#"><strong>All library services</strong></a>
</div>
</div>
</ul>
</div>
<div id="gridder-street-cleaning" class="gridder-content">
<ul class="gridder-listwrap container">
<div class="row no-pad services-sub">
<div class="col-md-3">
  <a href="#">Abandoned shopping trolleys</a>
  <a href="#">Dead animal removal</a>
  <a href="#">Dog waste</a>
</div>
<div class="col-md-3">
  <a href="#">Dumped rubbish</a>
  <a href="#">Graffiti</a>
  <a href="#">Litter</a>
</div>
<div class="col-md-3">
  <a href="#">Spillages</a>
  <a href="#">Weed clearance</a>
  <a href="#">Grass cutting</a>
</div>
<div class="col-md-3">
  <a href="#"><strong>All street cleaning services</strong></a>
</div>
</div>
</ul>
</div>
<div id="gridder-crime-emergencies" class="gridder-content">
<ul class="gridder-listwrap container">
<div class="row no-pad services-sub">
<div class="col-md-3">
  <a href="#">Emergencies</a>
</div>
<div class="col-md-3">
  <a href="#">Flooding</a>
</div>
<div class="col-md-3">
  <a href="#">Crime prevention</a>
</div>
<div class="col-md-3">
  <a href="#"><strong>All crime and emergencies</strong></a>
</div>
</div>
</ul>
</div>
<div id="gridder-jobs" class="gridder-content">
<ul class="gridder-listwrap container">
<div class="row no-pad services-sub">
<div class="col-md-3">
  <a href="#">View all jobs</a>
  <a href="#">How to apply</a>
</div>
<div class="col-md-3">
  <a href="#">Teaching jobs</a>
  <a href="#">Social work jobs</a>
</div>
<div class="col-md-3">
  <a href="#"><strong>All jobs services</strong></a>
</div>
<div class="col-md-3">
</div>
</div>
</ul>
