{{> organisms-global-header}}

<div class="container block-30">
	<div class="row">
		<div class="col-sm-12">
			{{> atoms-button-listen}}
      {{> atoms-button-easyread}}
		</div>
	</div>
</div>

<div class="container-fluid grey-x-light block-30" id="main-content" role="main">
	<div class="container">
		<div class="row">
			<div class="col-md-8 col-sm-12">
				<h1 class="green-base">Recycling incentive scheme</h1>
        {{> molecules-guide-navigation}}
			</div>
		</div>
	</div>
</div>

<div class="container">
	<div class="row">
		<div class="col-sm-12 col-md-8">
			<h2>6. Small electrical recycling </h2>
			<h3>Recycling days</h3>
			{{> molecules-alert-attention}}
			<p>A recycling day for small electrical items is held twice a year. Dates will be published here.</p>
			<p>If you have joined the recycling incentive scheme don't forget to take your e+ card along with you and get it scanned to collect reward points for recycling your small electrical items.</p>
			<h3>Collection points</h3>
			<p>Residents can take small electrical items to two collection points at the offices of Winkfield Parish Council and Sandhurst Town Council. For opening times of each location please go to the relevant council website:</p>
			<p><a href="www.winkfieldparishcouncil.gov.uk/contact-us">www.winkfieldparishcouncil.gov.uk/contact-us</a></p>
			<p><a href="www.sandhurst.gov.uk/towncounciloffice.html">www.sandhurst.gov.uk/towncounciloffice.html</a></p>
			<h3>What we will (and won't) accept</h3>
			<p>Items that will be accepted are those that will easily fit in a standard supermarket carrier bag. This doesn't include items that have screens such as laptops, notebooks or ipads.</p>

			<div class="row no-pad">
				<div class="col-sm-6">

				</div>
				<div class="col-sm-6">

				</div>
			</div>

			{{> molecules-table-style-one}}
			<p>This list doesn't include everything. If it is an electrical item which easily fits in a standard supermarket carrier bag, assume we will take it.</p>
			<p class="block-30">
				<a href="#" class="download-link">
					Download the full list
				</a>
			</p>
		</div>
		<aside class="col-sm-12 col-md-3 col-md-offset-1 related-aside">
			<h3>Related pages</h3>
			<ul class="list-unstyled">
				<li><a href="">Lorem ipsum</a></li>
				<li><a href="">Lorem ipsum</a></li>
				<li><a href="">Lorem ipsum</a></li>
				<li><a href="">Lorem ipsum</a></li>
				<li><a href="">Lorem ipsum</a></li>
			</ul>
		</aside>
	</div>

	<!--Page related footer-->
	{{> deesonpartials-in-page-footer_page-rater}}

</div>

{{> deesonpartials-global-footer}}
