<div class="row no-pad">
	<div class="col-xs-12 col-xs-offset-0 col-sm-6 col-sm-offset-3 col-md-offset-2">
		<ol class="breadcrumb">
			<li><a href="index.html">Home</a></li>
			<li><a href="#">Secondary</a></li>
			<li class="active">Tertiary</li>
		</ol>
	</div>
</div>
