<div class="col-sm-12 guide-nav">
  <ol>
     <li><a href="#">Join the scheme</a></li>
     <li><a href="#">Rewards</a></li>
     <li><a href="#">Your account</a></li>
     <li><a href="#">Terms and conditions</a></li>
     <li><a href="#">Good causes chosen in the last three years</a></li>
     <li><a href="#" class="active">Small electrical recycling</a></li>
  </ol>
</div>
