<fieldset>
	<legend>This is a <code>Fieldset Legend</code>. The fieldset wraps all of the form elements shown here.</legend>
	<div class="radio">
		<label>
			<input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>
			Option one
		</label>
	</div>
	<div class="radio">
		<label>
			<input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
			Option two
		</label>
	</div>
	<div class="radio disabled">
		<label>
			<input type="radio" name="optionsRadios" id="optionsRadios3" value="option3" disabled>
			Option three is disabled
		</label>
	</div>
	<input type="text" class="form-control" placeholder="Text input field">
</fieldset>