<p>To be used for transaction pages. This includes a small range of colours to deliver a clean, crisp and consistent look and feel.</p>

<ul class="sg-colors">
  {{#colors_row_1}}
    <li>
      <div class="sg-swatch" style="background: {{value}};"></div>
      <div class="sg-info">
        <strong>{{value}}</strong> <br/>
        <code>{{name}}</code>
      </div>
    </li>
  {{/colors_row_1}}
</ul>

<ul class="sg-colors">
  {{#colors_row_2}}
    <li>
      <div class="sg-swatch" style="background: {{value}};"></div>
      <div class="sg-info">
        <strong>{{value}}</strong> <br/>
        <code>{{name}}</code>
      </div>
    </li>
  {{/colors_row_2}}
</ul>

<ul class="sg-colors">
  {{#colors_row_3}}
    <li>
      <div class="sg-swatch" style="background: {{value}};"></div>
      <div class="sg-info">
        <strong>{{value}}</strong> <br/>
        <code>{{name}}</code>
      </div>
    </li>
  {{/colors_row_3}}
</ul>
