// Headings.

.hdng-lge {
  font-size: $font-size-14;
  font-weight: $font-weight-heading;
}

h1 {
  font-size: $font-size-21;
  margin-top: 20px;
}

.page-title {
  border: {
    color: $hero-title-border-color;
    style: solid;
    width: 0 0 5px 0;
  }
  @include applyColour(border-color);
  padding-bottom: 10px;
}

.page-title-plain {
  border: 0;
  padding-bottom: 0;
}

h1,
h2 {
  margin: ($commonSpacing / 2) 0;
}

h2 {
  font-size: $font-size-13;
}

.h2-small {
  font-size: $font-size-10;
  font-weight: $font-weight-base;
}

h3 {
  font-size: $font-size-10;
}

h3,
h4,
h5,
h6 {
  margin: ($commonSpacing - 10) 0 ($commonSpacing / 3);
}

h1,
h2,
h6 {
  font-weight: $font-weight-heading;
}

&.h-light {
  font-weight: $font-weight-headinglight;
}

aside {
  h2,
  h3,
  h4,
  h5 {
    border-color: $global-heading-border-color;
    @include applyColour(border-top-color);

    border-top: {
      style: solid;
      width: 5px;
    }
    font: {
      size: $font-size-10;
      weight: $font-weight-base;
    }
    margin-bottom: $commonSpacing / 3;
    padding-top: 20px;
  }

  h4 {
    font-size: $font-size-08;
  }

  h5 {
    font-size: $font-size-06;
  }

  h6 {
    font-size: $font-size-05;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  clear: both;

  a {
    color: $global-heading-link-text-color;
    text-decoration: none;

    &:hover {
      color: $global-heading-link-hover-text-color;
      text-decoration: underline;
    }
  }
}
