// Helpers.

.left {
  float: left;
}

.right {
  float: right;
}

.img-right {
  float: right;
  margin-left: 1em;
}

.img-left {
  float: left;
  margin-right: 1em;
}

.full-width {
  margin-left: -9999rem !important;
  margin-right: -9999rem !important;
  padding-left: 9999rem !important;
  padding-right: 9999rem !important;
}

// @see https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
.visually-hidden {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
}
