// Icons.

// Before you edit this file, please see the theme README to understand how this
// file has been put together.

.icon {
  background-image: url('../images/icons/icons.svg');
  display: inline-block;
  vertical-align: middle;
  line-height: 1;
  font-weight: normal;
  font-style: normal;
  text-decoration: inherit;
  text-transform: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;

  .no-svg & {
     background-image: url("../images/icons/icons.png");
  }
}

.theme-icon-arrow-left {
	background-position: 0 0;
	width: 32px;
	height: 32px;
}

.theme-icon-arrow-right {
	background-position: 1.9230769230769231% 1.9230769230769231%;
	width: 32px;
	height: 32px;
}

.theme-icon-book {
	background-position: 3.8461538461538463% 3.8461538461538463%;
	width: 32px;
	height: 32px;
}

.theme-icon-briefcase {
	background-position: 5.769230769230769% 5.769230769230769%;
	width: 32px;
	height: 32px;
}

.theme-icon-builder {
	background-position: 7.6923076923076925% 7.6923076923076925%;
	width: 32px;
	height: 32px;
}

.theme-icon-car {
	background-position: 9.615384615384615% 9.615384615384615%;
	width: 32px;
	height: 32px;
}

.theme-icon-certificate {
	background-position: 11.538461538461538% 11.538461538461538%;
	width: 32px;
	height: 32px;
}

.theme-icon-circle-cross {
	background-position: 13.461538461538462% 13.461538461538462%;
	width: 32px;
	height: 32px;
}

.theme-icon-circle-dark-exclamation {
	background-position: 15.384615384615385% 15.384615384615385%;
	width: 32px;
	height: 32px;
}

.theme-icon-circle-dark-question {
	background-position: 17.307692307692307% 17.307692307692307%;
	width: 32px;
	height: 32px;
}

.theme-icon-circle-tick {
	background-position: 19.23076923076923% 19.23076923076923%;
	width: 32px;
	height: 32px;
}

.theme-icon-council-building {
	background-position: 21.153846153846153% 21.153846153846153%;
	width: 32px;
	height: 32px;
}

.theme-icon-council-tax {
	background-position: 23.076923076923077% 23.076923076923077%;
	width: 32px;
	height: 32px;
}

.theme-icon-cross {
	background-position: 25% 25%;
	width: 32px;
	height: 32px;
}

.theme-icon-download {
	background-position: 26.923076923076923% 26.923076923076923%;
	width: 32px;
	height: 32px;
}

.theme-icon-envelope {
	background-position: 28.846153846153847% 28.846153846153847%;
	width: 32px;
	height: 32px;
}

.theme-icon-external-link {
	background-position: 30.76923076923077% 30.76923076923077%;
	width: 32px;
	height: 32px;
}

.theme-icon-face-happy {
	background-position: 32.69230769230769% 32.69230769230769%;
	width: 32px;
	height: 32px;
}

.theme-icon-face-neutral {
	background-position: 34.61538461538461% 34.61538461538461%;
	width: 32px;
	height: 32px;
}

.theme-icon-face-sad {
	background-position: 36.53846153846154% 36.53846153846154%;
	width: 32px;
	height: 32px;
}

.theme-icon-facebook {
	background-position: 38.46153846153846% 38.46153846153846%;
	width: 32px;
	height: 32px;
}

.theme-icon-family {
	background-position: 40.38461538461539% 40.38461538461539%;
	width: 32px;
	height: 32px;
}

.theme-icon-flashing-light {
	background-position: 42.30769230769231% 42.30769230769231%;
	width: 32px;
	height: 32px;
}

.theme-icon-heart {
	background-position: 44.23076923076923% 44.23076923076923%;
	width: 32px;
	height: 32px;
}

.theme-icon-house {
	background-position: 46.15384615384615% 46.15384615384615%;
	width: 32px;
	height: 32px;
}

.theme-icon-instagram {
	background-position: 48.07692307692308% 48.07692307692308%;
	width: 32px;
	height: 32px;
}

.theme-icon-leaves {
	background-position: 50% 50%;
	width: 32px;
	height: 32px;
}

.theme-icon-left-arrow-grey {
	background-position: 51.92307692307692% 51.92307692307692%;
	width: 32px;
	height: 32px;
}

.theme-icon-licence {
	background-position: 53.84615384615385% 53.84615384615385%;
	width: 32px;
	height: 32px;
}

.theme-icon-menu {
	background-position: 55.76923076923077% 55.76923076923077%;
	width: 32px;
	height: 32px;
}

.theme-icon-mortarboard {
	background-position: 57.69230769230769% 57.69230769230769%;
	width: 32px;
	height: 32px;
}

.theme-icon-next {
	background-position: 59.61538461538461% 59.61538461538461%;
	width: 32px;
	height: 32px;
}

.theme-icon-previous {
	background-position: 61.53846153846154% 61.53846153846154%;
	width: 32px;
	height: 32px;
}

.theme-icon-printer {
	background-position: 63.46153846153846% 63.46153846153846%;
	width: 32px;
	height: 32px;
}

.theme-icon-question {
	background-position: 65.38461538461539% 65.38461538461539%;
	width: 32px;
	height: 32px;
}

.theme-icon-recycling {
	background-position: 67.3076923076923% 67.3076923076923%;
	width: 32px;
	height: 32px;
}

.theme-icon-recycling-bin {
	background-position: 69.23076923076923% 69.23076923076923%;
	width: 32px;
	height: 32px;
}

.theme-icon-right-arrow-grey {
	background-position: 71.15384615384616% 71.15384615384616%;
	width: 32px;
	height: 32px;
}

.theme-icon-rubbish {
	background-position: 73.07692307692308% 73.07692307692308%;
	width: 32px;
	height: 32px;
}

.theme-icon-search {
	background-position: 75% 75%;
	width: 32px;
	height: 32px;
}

.theme-icon-speaker {
	background-position: 76.92307692307692% 76.92307692307692%;
	width: 32px;
	height: 32px;
}

.theme-icon-speech-bubbles {
	background-position: 78.84615384615384% 78.84615384615384%;
	width: 32px;
	height: 32px;
}

.theme-icon-statistics {
	background-position: 80.76923076923077% 80.76923076923077%;
	width: 32px;
	height: 32px;
}

.theme-icon-swimming {
	background-position: 82.6923076923077% 82.6923076923077%;
	width: 32px;
	height: 32px;
}

.theme-icon-text-size {
	background-position: 84.61538461538461% 84.61538461538461%;
	width: 32px;
	height: 32px;
}

.theme-icon-trees {
	background-position: 86.53846153846153% 86.53846153846153%;
	width: 32px;
	height: 32px;
}

.theme-icon-triangle-down {
	background-position: 88.46153846153847% 88.46153846153847%;
	width: 32px;
	height: 32px;
}

.theme-icon-triangle-up {
	background-position: 90.38461538461539% 90.38461538461539%;
	width: 32px;
	height: 32px;
}

.theme-icon-twitter {
	background-position: 92.3076923076923% 92.3076923076923%;
	width: 32px;
	height: 32px;
}

.theme-icon-user {
	background-position: 94.23076923076923% 94.23076923076923%;
	width: 32px;
	height: 32px;
}

.theme-icon-voting {
	background-position: 96.15384615384616% 96.15384615384616%;
	width: 32px;
	height: 32px;
}

.theme-icon-wallet {
	background-position: 98.07692307692308% 98.07692307692308%;
	width: 32px;
	height: 32px;
}

.theme-icon-youtube {
	background-position: 100% 100%;
	width: 32px;
	height: 32px;
}

