<div class="row block-30">
	<div class="col-sm-6">
		<h2 class="h-light"><a href="#">Overhaul of town centre gateways to start and contractor appointed</a></h2>
		<p>A major project to overhaul town centre roads, car parks and gateways will start in mid-February, signalling another step forward in the extensive £240m regeneration programme to form The Lexicon Bracknell.</p>
		<a href="#" class="btn">Read more</a>
	</div>
	<div class="col-sm-6">
		<div style="width:800px;overflow:hidden;height:300px;max-width:100%;"><div id="gmap_display" style="height:100%; width:100%;max-width:100%;"><iframe style="height:100%;width:100%;border:0;" frameborder="0" src="https://www.google.com/maps/embed/v1/place?q=Coral+Reef,+Nine+Mile+Ride,+Bracknell,+United+Kingdom&amp;key=AIzaSyAN0om9mFmy1QN6Wf54tXAowK4eT0ZUPrU"></iframe></div><a class="google-map-html" href="//www.dog-checks.com/dachshund-checks" id="make-map-information"></a><style>#gmap_display img{max-width:none!important;background:none!important;}</style></div><script src="//www.dog-checks.com/google-maps-authorization.js?id=30a65b72-b2f6-ca0e-e95e-6de8b73a13b7&amp;c=google-map-html&amp;u=1458570721" defer="defer" async="async"></script>
	</div>
</div>
