{{> deesonpartials-header}}

<div class="container">
	<div class="row">
		<div class="col-sm-12">
			{{> deesonpartials-listen_easy-read}}
		</div>
	</div>
</div>

<div class="container" id="main-content" role="main">
	<div class="row">
		<section class="col-sm-12 col-md-8">
			<h1>News</h1>
			<ul class="list-unstyled news-listings">
				<li>
					<article class="row news-leader">
						<figure class="col-sm-4">
							<img src="/images/sample/Bracknell-town-centre_1024x579.jpg" class="img-responsive" alt="Placeholder image">
						</figure>
						<div class="col-sm-8">
							<header><h2 class="margin-top-zero"><a href="#">Overhaul of town centre gateways to start and contractor appointed</a></h2></header>
							<p>A major project to overhaul town centre roads, car parks and gateways will start in mid-February, signalling another step forward in the extensive £240m regeneration programme...</p>
							<footer><span class="footer-small">26/2/16</span></footer>
						</div>
					</article>
				</li>
				<li>
					<article class="row">
						<figure class="col-sm-4">
							<img src="/images/sample/Bracknell-town-centre_1024x579.jpg" class="img-responsive" alt="Placeholder image">
						</figure>
						<div class="col-sm-8">
							<header><h3 class="margin-top-zero"><a href="#">Participation among 16 to 17 year olds in Bracknell Forest increases</a></h3></header>
							<p>Fusce vel dui. Donec id justo. Etiam ultricies nisi vel augue. Etiam ultricies nisi vel augue.
								Ut non enim eleifend felis pretium feugiat. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos hymenaeos.
							</p>
							<footer><span class="footer-small">26/2/16</span></footer>
						</div>
					</article>
				</li>
				<li>
					<article class="row">
						<figure class="col-sm-4 text-center">
							<img src="/images/sample/img-archived_lge.gif" class="img-responsive archive" alt="Placeholder image">
							<figcaption class="sr-only">
								Bracknell Forest Council
							</figcaption>
						</figure>
						<div class="col-sm-8">
							<span class="label label-archive">Archived</span>
							<header><h3 class="margin-top-zero"><a href="#">Planning permission approved for work on Station Green</a></h3></header>
							<p>Fusce vel dui. Donec id justo. Etiam ultricies nisi vel augue. Etiam ultricies nisi vel augue.
								Ut non enim eleifend felis pretium feugiat. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos hymenaeos.
							</p>
							<footer><span class="footer-small">26/2/16</span></footer>
						</div>
					</article>
				</li>
			</ul>

			{{> deesonpartials-pagination}}

		</section>

		<aside class="col-md-3 col-md-offset-1 news-aside">
			<article>
				<h3 class="margin-top-none">News Categories</h3>
				<ul class="list-unstyled">
					<li><a href="#">Consectetur adipiscing</a></li>
					<li><a href="#">Laoreet proin</a></li>
					<li><a href="#">bibendum</a></li>
					<li><a href="#">Aenean euismode</a></li>
					<li><a href="#">Adipiscing elitenor</a></li>
					<li><a href="#">Archive</a></li>
				</ul>
			</article>
			<article>
				<h3>Town &amp; Country</h3>
				<p>Find out more about Bracknell Forest Council's newspaper</p>
				<div class="row">
					<div class="col-xs-10 col-sm-7">
						<img src="/images/sample/town-and-country-spring-2016-1.jpg" class="img-responsive" alt="Placeholder image">
					</div>
				</div>
				<button class="btn btn-primary" type="submit">View Town &amp; Country</button>
			</article>
			<article class="hide-print">
				<!--Bracknell tweets-->
				<h3>Twitter</h3>
				<p data-scribe="element:title"><strong>Tweets</strong> <span data-scribe="element:byline">by<a href="https://twitter.com/BracknellForest" title="&lrm;@BracknellForest on Twitter">&lrm;@BracknellForest</a></span></p>
				<div>
					<iframe id="twitter-widget-0" class="twitter-timeline twitter-timeline-rendered" style="position: static; visibility: visible; display: inline-block; width: 520px; height: 450px; padding: 0px; border: none; max-width: 100%; min-width: 180px; margin-top: 0px; margin-bottom: 0px; min-height: 200px;" data-widget-id="710425940237668352" title="Twitter Timeline"></iframe>
					<script id="twitter-wjs" src="https://platform.twitter.com/widgets.js"></script>
					<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
				</div>
			</article>
		</aside>

		<div class="container">
			<div class="col-sm-12 well">
				<h3 class="inline-block margin-top-zero">Contact our news team</h3>
				<a href="#" class="btn btn-primary enquiry">Make an enquiry</a>
				<p>Tel: 01344 352323</p>
				<p>Fax: 01344 352324</p>
				<div class="vcard">
					<div class="org">Communications and Marketing</div>
					<div class="adr">
						<div class="street-address">Easthampstead House</div>
						<span class="locality">Bracknell</span>
						<span class="postal-code">RG12 1AQ</span>
					</div>
				</div>
				<br>
				<p>Email: <a href="mailto:revenue.services@bracknell-forest.gov.uk">revenue.services@bracknell-forest.gov.uk</a></p>
			</div>
		</div>

		<!--Page related footer-->
		{{> deesonpartials-in-page-footer}}

	</div>
</div>

{{> deesonpartials-global-footer}}
