<nav id="breadcrumb" class="col-xs-12 col-xs-offset-0 col-md-6 col-md-offset-2">
   <ol class="breadcrumb">
      <li><a href="/">Home</a></li>
      <li class="active">Council tax</li>
   </ol>
</nav>
