<div id="guide-navigation-X" class="guide-navigation-primary">
  <ol class="menu nav">
    <li class="first leaf"><a href="/council-tax/change-circumstances/what-do-you-need-tell-us">What do you need to tell us?</a></li>
    <li class="leaf"><a href="/council-tax/change-circumstances/moving-house">Moving house</a></li>
    <li class="leaf"><a href="/council-tax/change-circumstances/when-someone-has-died">When someone has died</a></li>
    <li class="leaf"><a href="/council-tax/change-circumstances/changes-your-family-or-household">Changes to your family or household</a></li>
    <li class="leaf"><a href="/council-tax/change-circumstances/changes-discounts-or-exemptions">Changes to discounts or exemptions</a></li>
    <li class="leaf"><a href="/council-tax/change-circumstances/changes-your-bank-details">Changes to your bank details</a></li>
    <li class="last leaf"><a href="/council-tax/change-circumstances/changes-tenancy" class="active">Changes to a tenancy</a></li>
  </ol>
</div>
